In [1]:
import pandas as pd
import numpy as np
import json

from datetime import datetime, timedelta
import re
import os,sys

import kbij_helper as kbijh
kbij = kbijh.KBIJ()

import warnings
warnings.filterwarnings('ignore')
import time
#import datetime as dt

In [3]:
F01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Kode Jenis Fasilitas': 'object',
 'Nomor Rekening Fasilitas': 'object',
 'Nomor Rekening Lama Fasilitas': 'object',
 'Nomor CIF Debitur': 'object',
 'Kode Sifat Kredit atau Pembiayaan': 'str',
 'Kode Jenis Kredit atau Pembiayaan': 'str',
 'Kode Akad Kredit atau Akad Pembiayaan': 'object',
 'Nomor Akad Awal': 'object',
 'Tanggal Akad Awal': 'object',
 'Nomor Akad Akhir': 'object',
 'Tanggal Akad Akhir': 'object',
 'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan': 'int64',
 'Tanggal Awal Kredit atau Pembiayaan': 'object',
 'Tanggal Mulai': 'object',
 'Tanggal Jatuh Tempo': 'object',
 'Kode Kategori Debitur': 'object',
 'Kode Jenis Penggunaan': 'str',
 'Kode Orientasi Penggunaan': 'str',
 'Kode Sektor Ekonomi': 'object',
 'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan': 'object',
 'Nilai Proyek': 'object',
 'Kode Valuta': 'object',
 'Suku Bunga atau Imbalan': 'float64',
 'Jenis Suku Bunga atau Imbalan': 'int64',
 'Kredit atau Pembiayaan Program Pemerintah': 'object',
 'Plafon Awal': 'float64',
 'Plafon': 'float64',
 'Realisasi atau Pencairan Bulan Berjalan': 'float64',
 'Denda': 'float64',
 'Baki Debet': 'float64',
 'Nilai dalam Mata Uang Asal': 'object',
 'Kode Kualitas Kredit atau Pembiayaan': 'str',
 'Tanggal Macet': 'object',
 'Kode Sebab Macet': 'str',
 'Tunggakan Pokok': 'int64',
 'Tunggakan Bunga atau Imbalan': 'int64',
 'Jumlah Hari Tunggakan': 'int64',
 'Frekuensi Tunggakan': 'int64',
 'Frekuensi Restrukturisasi': 'int64',
 'Tanggal Restrukturisasi Awal': 'object',
 'Tanggal Restrukturisasi Akhir': 'object',
 'Kode Cara Restrukturisasi': 'object',
 'Kode Kondisi': 'object',
 'Tanggal Kondisi': 'object',
 'Keterangan': 'object',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

D01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Nomor CIF Lama Debitur': 'object',
 'Nomor CIF Debitur': 'object',
 'Jenis Identitas': 'int64',
 'Nomor Identitas': 'object',
 'Nama Sesuai Identitas': 'object',
 'Nama Lengkap': 'object',
 'Kode Status Pendidikan atau Gelar Debitur': 'object',
 'Jenis Kelamin': 'object',
 'Tempat Lahir': 'object',
 'Tanggal Lahir': 'object',
 'Nama Gadis Ibu Kandung': 'object',
 'NPWP': 'object',
 'Alamat': 'object',
 'Kelurahan': 'object',
 'Kecamatan': 'object',
 'Kode Kabupaten atau Kota': 'object',
 'Kode Pos': 'object',
 'Nomor Telepon': 'object',
 'Nomor Telepon Seluler': 'object',
 'Alamat email': 'object',
 'Kode Negara Domisili': 'object',
 'Kode Pekerjaan': 'object',
 'Tempat Bekerja': 'object',
 'Kode Bidang Usaha Tempat Bekerja': 'object',
 'Alamat Tempat Bekerja': 'object',
 'Kode Golongan Debitur': 'object',
 'Status Perkawinan Debitur': 'int64',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

# Query

Get new F01 and D01 from redash

## F01 Current Data

In [4]:
F01new = kbij.get_F01_data('"2020-06-01"')

[get_F01_data] Query from BigQuery takes 292.8310112953186

## D01 Current Data

In [6]:
D01new = kbij.get_D01_data('"2020-06-01"')

[get_D01_data] Query from BigQuery takes 93.73291015625

# Data Preparation

In [7]:
print(F01new.shape)
a=[]
for i in F01new.columns:
    a.append(i.replace('_',' '))
F01new.columns = a

(569638, 69)

In [8]:
print(D01new.shape)
a=[]
for i in D01new.columns:
    a.append(i.replace('_',' '))
D01new.columns = a

(192571, 40)

In [9]:
for col in get_key(F01_dtype, 'object'):
    F01new[col] = F01new[col].str.strip()

In [10]:
for col in get_key(D01_dtype, 'object'):
    D01new[col] = D01new[col].str.strip()

In [11]:
F01new = F01new.replace('\n','', regex=True)
D01new = D01new.replace('\n','', regex=True)

In [12]:
F01new = F01new.replace('\t','', regex=True)
D01new = D01new.replace('\t','', regex=True)

In [13]:
D01new.rename(columns={"Alamat email": "Alamat e-mail"}, inplace=True)

In [14]:
gelar_list = pd.read_csv('./data/gelar.csv')['index'].tolist()
gelar_depan_list = pd.read_csv('./data/gelar_depan.csv')['index'].tolist()

In [15]:
def remove_gelar(nama):
    nama_list = nama.split()
    clear_output()
    print(nama_list)
    if nama_list[-1].lower() in gelar_list:
        del nama_list[-1]
    if nama_list[0].lower() in gelar_depan_list:
        del nama_list[0]    
        
    return ' '.join(nama_list)

In [16]:
D01new['Nama Sesuai Identitas'] = D01new['Nama Sesuai Identitas'].apply(remove_gelar)

['ARI', 'ALFIYAN']

In [17]:
D01new['Nama Gadis Ibu Kandung'] = D01new['Nama Gadis Ibu Kandung'].apply(remove_gelar)

['ROSMAWATI']

In [18]:
F01new.to_csv(path_or_buf='./data202006/F01202006.csv', index=False)
D01new.to_csv(path_or_buf='./data202006/D01202006.csv', index=False)

# Load Data

In [22]:
F01new = pd.read_csv('./data202006/F01202006.csv', dtype=F01_dtype)
D01new = pd.read_csv('./data202006/D01202006.csv', dtype=D01_dtype)

D01new[D01new['Nama Sesuai Identitas'] == 'ANTONIUS RIO ARDIAN'][['Nama Gadis Ibu Kandung', 'orderId']]

In [19]:
F01_prev = pd.read_csv('./data202005/F01202005_new_filtered.csv', dtype=F01_dtype)
D01_prev = pd.read_csv('./data202005/D01202005_new_filtered.csv', dtype=D01_dtype)

In [20]:
print('D01new:',D01new.shape, 'F01new:',F01new.shape)
print('D01_prev:',D01_prev.shape, 'F01_prev:',F01_prev.shape)

D01new: (192571, 40) F01new: (569638, 69)
D01_prev: (123885, 40) F01_prev: (129819, 69)

# Checking

In [21]:
F01new, D01new = kbij.checking_data(F01new, D01new, '2020-06-01', F01_prev=F01_prev, D01_prev=D01_prev, full=True)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

Found 20260 Nomor Rekening Fasilitas
Drop previous not active Nomor Rekening Fasilitas from current F01
Drop not existing Nomor CIF Debitur in current F01 from current D01

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

Found 89 Nomor Rekening Fasilitas
Set Kode Kondisi to not active

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Denda = 0 but Kode Kode Kualitas Kredit atau Pembiayaan != 1

Found 3077 Nomor Rekening Fasilitas
upload dataframe takes 8.140426397323608
Dataframe Successfully Loaded to vayu_data_mart.testpandasgbq
[get_late_fee] Query from BigQuery takes 1.6850531101226807

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202006']
D01: ['202006']

[DONE]
================================================================================

## Check column

In [22]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Frekuensi Tunggakan']>0)][['orderId','Jumlah Hari Tunggakan','Frekuensi Tunggakan','Approved Date','status']]

Empty DataFrame
Columns: [orderId, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Approved Date, status]
Index: []

In [23]:
F01new[(F01new['Tunggakan Pokok']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi, dayPastDue]
Index: []

In [24]:
F01new[(F01new['Denda']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
382,ATH-11U6MLW9,0,4,00,157
599,ATH-129P6LAM,0,3,00,116
979,ATH-131VGPK9,0,4,00,128
1323,ATH-13SVCYFQ,0,5,00,452
1416,ATH-13Z27H2L,0,3,00,110
...,...,...,...,...,...
549208,INS-N9EFNP24,0,5,00,250
549222,INS-NY8695N5,0,5,00,240
549246,INS-QEAEJRB2,0,5,00,339
549273,INS-SKV34WK2,0,5,00,270
549333,INS-XBWHEWRT,0,5,00,252

In [25]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Tunggakan Bunga atau Imbalan','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Tunggakan Bunga atau Imbalan,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
12071,ATH-1REFS6DN,0,486500,2,00,29
75197,ATH-5LEAQ3CS,0,661000,5,00,563
77853,ATH-5RVXZBE1,0,598500,2,00,31
96959,ATH-6XQVT373,0,950000,5,00,240
99698,ATH-74BYYA6K,0,950000,5,00,186
...,...,...,...,...,...,...
548901,EXT-ZVCBJUUZ,0,475000,2,00,34
548910,EXT-ZWGTJWMH,0,35000,2,00,5
548917,EXT-ZXRN4WQ7,0,25000,2,00,4
548925,EXT-ZYJA4E74,0,910000,2,00,29
548932,EXT-ZZAMVDCX,0,70000,2,00,8

In [26]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [27]:
F01new[(F01new['Frekuensi Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [28]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [29]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [30]:
F01new[(F01new['Kode Sebab Macet']=='99') & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Kode Sebab Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Kode Sebab Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

In [31]:
F01new[(~F01new['Tanggal Macet'].isnull()) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Tanggal Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Tanggal Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

# Final File to Send to KBIJ D01 and F01

Null check for CIF and NIK

In [32]:
D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [33]:
D01new.drop(D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())].index, inplace=True)

In [34]:
F01new.loc[F01new['Nomor CIF Debitur'].isna()]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [35]:
F01new.drop(F01new.loc[F01new['Nomor CIF Debitur'].isna()].index, inplace=True)

## Export full data dump to csv to be used in the next iteration

In [36]:
F01new.to_csv(path_or_buf='./data202006/F01202006_new_filtered.csv', index=0)
D01new.to_csv(path_or_buf='./data202006/D01202006_new_filtered.csv', index=0)

Export Latest Data

In [37]:
datem = pd.to_datetime("2020/06/01")
datem = datem.strftime("%Y%m")
print(datem)

202006

In [38]:
dirname = './data'+datem

In [39]:
timestr = time.strftime("%Y%m%d-%H%M%S")
F01name = dirname+'/F01'+'-'+datem+'['+timestr+']'+'.txt'
D01name = dirname+'/D01'+'-'+datem+'['+timestr+']'+'.txt'
print(F01name,D01name)

./data202006/F01-202006[20200803-180521].txt ./data202006/D01-202006[20200803-180521].txt

In [40]:
F01new_sent=F01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Kode Jenis Fasilitas', 'Nomor Rekening Fasilitas',
       'Nomor Rekening Lama Fasilitas', 'Nomor CIF Debitur',
       'Kode Sifat Kredit atau Pembiayaan',
       'Kode Jenis Kredit atau Pembiayaan',
       'Kode Akad Kredit atau Akad Pembiayaan', 'Nomor Akad Awal',
       'Tanggal Akad Awal', 'Nomor Akad Akhir', 'Tanggal Akad Akhir',
       'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan',
       'Tanggal Awal Kredit atau Pembiayaan', 'Tanggal Mulai',
       'Tanggal Jatuh Tempo', 'Kode Kategori Debitur', 'Kode Jenis Penggunaan',
       'Kode Orientasi Penggunaan', 'Kode Sektor Ekonomi',
       'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan',
       'Nilai Proyek', 'Kode Valuta', 'Suku Bunga atau Imbalan',
       'Jenis Suku Bunga atau Imbalan',
       'Kredit atau Pembiayaan Program Pemerintah', 'Plafon Awal', 'Plafon',
       'Realisasi atau Pencairan Bulan Berjalan', 'Denda', 'Baki Debet',
       'Nilai dalam Mata Uang Asal', 'Kode Kualitas Kredit atau Pembiayaan',
       'Tanggal Macet', 'Kode Sebab Macet', 'Tunggakan Pokok',
       'Tunggakan Bunga atau Imbalan', 'Jumlah Hari Tunggakan',
       'Frekuensi Tunggakan', 'Frekuensi Restrukturisasi',
       'Tanggal Restrukturisasi Awal', 'Tanggal Restrukturisasi Akhir',
       'Kode Cara Restrukturisasi', 'Kode Kondisi', 'Tanggal Kondisi',
       'Keterangan', 'Kode Kantor Cabang', 'Operasi Data', 'Status delete',
       'Create Date', 'Update Date']]
D01new_sent=D01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Nomor CIF Lama Debitur', 'Nomor CIF Debitur', 'Jenis Identitas',
       'Nomor Identitas', 'Nama Sesuai Identitas', 'Nama Lengkap',
       'Kode Status Pendidikan atau Gelar Debitur', 'Jenis Kelamin',
       'Tempat Lahir', 'Tanggal Lahir', 'Nama Gadis Ibu Kandung', 'NPWP',
       'Alamat', 'Kelurahan', 'Kecamatan', 'Kode Kabupaten atau Kota',
       'Kode Pos', 'Nomor Telepon', 'Nomor Telepon Seluler', 'Alamat e-mail',
       'Kode Negara Domisili', 'Kode Pekerjaan', 'Tempat Bekerja',
       'Kode Bidang Usaha Tempat Bekerja', 'Alamat Tempat Bekerja',
       'Kode Golongan Debitur', 'Status Perkawinan Debitur',
       'Kode Kantor Cabang', 'Operasi Data', 'Status delete', 'Create Date',
       'Update Date']]

In [47]:
D01new[D01new['Nama Sesuai Identitas']=='IBNU SIGIT SAPUTRO']

,Kode Jenis Pelapor,Kode Pelapor,Tahun Bulan Data,Nomor CIF Lama Debitur,Nomor CIF Debitur,Jenis Identitas,Nomor Identitas,Nama Sesuai Identitas,Nama Lengkap,Kode Status Pendidikan atau Gelar Debitur,...,Kode Kantor Cabang,Operasi Data,Status delete,Create Date,Update Date,Approved Date,userId,orderId,paidoffDate,status
129913,0301,900013,202006,,3915919828119,1,O340112300495000,IBNU SIGIT SAPUTRO,IBNU SIGIT SAPUTRO,00,...,000,C,T,20190929023016,20200519041627,2019-09-29,3b4654bf-a436-4641-b97e-058fe9edc24b,ATH-Q7Y2QWPX,2019-10-28 06:35:55+00:00,FINISHED

In [41]:
print(F01new_sent.shape)
print(D01new_sent.shape)

(549378, 53)
(187594, 35)

## Export file for KBIJ Reporting

In [42]:
D01new_sent.to_csv(path_or_buf=D01name, sep='|',index =0)
F01new_sent.to_csv(path_or_buf=F01name, sep='|',index =0)

# Check Sent Data

In [43]:
F01_sent = pd.read_csv('./data202006/F01-202006[20200803-180521].txt',sep='|',dtype=F01_dtype)
D01_sent = pd.read_csv('./data202006/D01-202006[20200803-180521].txt',sep='|',dtype=D01_dtype)

In [44]:
F01_prev_sent = pd.read_csv('./data202005/F01-202005[20200803-171851].txt',sep='|',dtype=F01_dtype)
D01_prev_sent = pd.read_csv('./data202005/D01-202005[20200803-171851].txt',sep='|',dtype=D01_dtype)

In [45]:
print('D01_sent:',D01_sent.shape, 'F01_sent:',F01_sent.shape)
print('D01_prev_sent:',D01_prev_sent.shape, 'F01_prev_sent:',F01_prev_sent.shape)

D01_sent: (187594, 35) F01_sent: (549378, 53)
D01_prev_sent: (123885, 35) F01_prev_sent: (129819, 53)

In [46]:
F01_sent, D01_sent = kbij.checking_data(F01_sent, D01_sent, '2020-05-01', F01_prev=F01_prev_sent, D01_prev=D01_prev_sent)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[CLEAR]No Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

[CLEAR]No Active Kode Kondisi but Baki Debet = 0

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202006']
D01: ['202006']

[DONE]
================================================================================