In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
import re
import os,sys

import kbij_helper as kbijh
kbij = kbijh.KBIJ()

import warnings
warnings.filterwarnings('ignore')
autostats_lib = "../../../autostats"
if autostats_lib not in sys.path:
    sys.path.append(autostats_lib)

from utilities.data_storage import DataStorage
import time

In [2]:
%load_ext google.cloud.bigquery
from google.cloud import bigquery
DataStorage(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

from IPython.display import clear_output

In [3]:
def get_key(my_dict, val):
    keys_list = []
    for key, value in my_dict.items(): 
         if val == value: 
             keys_list.append(key)
  
    return keys_list

In [4]:
date = "2019-11-01"
prev_date = "2019-10-01"

In [5]:
datem = pd.to_datetime(date)
datem = datem.strftime("%Y%m")
print(datem)

201911

In [6]:
pathname = 'data'+datem
dirname = './'+pathname

In [7]:
raw_filename_F01 = dirname+'/F01'+datem+'.csv'
raw_filename_D01 = dirname+'/D01'+datem+'.csv'

In [8]:
filtered_filename_F01 = dirname+'/F01'+datem+'_new_filtered.csv'
filtered_filename_D01 = dirname+'/D01'+datem+'_new_filtered.csv'

In [9]:
prev_datem = pd.to_datetime(prev_date)
prev_datem = prev_datem.strftime("%Y%m")
print(prev_datem)

201910

In [10]:
prev_pathname = 'data'+prev_datem
prev_dirname = './'+prev_pathname

In [11]:
prev_filtered_filename_F01 = prev_dirname+'/F01'+prev_datem+'_new_filtered.csv'
prev_filtered_filename_D01 = prev_dirname+'/D01'+prev_datem+'_new_filtered.csv'

In [12]:
F01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Kode Jenis Fasilitas': 'object',
 'Nomor Rekening Fasilitas': 'object',
 'Nomor Rekening Lama Fasilitas': 'object',
 'Nomor CIF Debitur': 'object',
 'Kode Sifat Kredit atau Pembiayaan': 'str',
 'Kode Jenis Kredit atau Pembiayaan': 'str',
 'Kode Akad Kredit atau Akad Pembiayaan': 'object',
 'Nomor Akad Awal': 'object',
 'Tanggal Akad Awal': 'object',
 'Nomor Akad Akhir': 'object',
 'Tanggal Akad Akhir': 'object',
 'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan': 'int64',
 'Tanggal Awal Kredit atau Pembiayaan': 'object',
 'Tanggal Mulai': 'object',
 'Tanggal Jatuh Tempo': 'object',
 'Kode Kategori Debitur': 'object',
 'Kode Jenis Penggunaan': 'str',
 'Kode Orientasi Penggunaan': 'str',
 'Kode Sektor Ekonomi': 'object',
 'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan': 'object',
 'Nilai Proyek': 'object',
 'Kode Valuta': 'object',
 'Suku Bunga atau Imbalan': 'float64',
 'Jenis Suku Bunga atau Imbalan': 'int64',
 'Kredit atau Pembiayaan Program Pemerintah': 'object',
 'Plafon Awal': 'float64',
 'Plafon': 'float64',
 'Realisasi atau Pencairan Bulan Berjalan': 'float64',
 'Denda': 'float64',
 'Baki Debet': 'float64',
 'Nilai dalam Mata Uang Asal': 'object',
 'Kode Kualitas Kredit atau Pembiayaan': 'str',
 'Tanggal Macet': 'object',
 'Kode Sebab Macet': 'str',
 'Tunggakan Pokok': 'int64',
 'Tunggakan Bunga atau Imbalan': 'int64',
 'Jumlah Hari Tunggakan': 'int64',
 'Frekuensi Tunggakan': 'int64',
 'Frekuensi Restrukturisasi': 'int64',
 'Tanggal Restrukturisasi Awal': 'object',
 'Tanggal Restrukturisasi Akhir': 'object',
 'Kode Cara Restrukturisasi': 'object',
 'Kode Kondisi': 'object',
 'Tanggal Kondisi': 'object',
 'Keterangan': 'object',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

D01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Nomor CIF Lama Debitur': 'object',
 'Nomor CIF Debitur': 'object',
 'Jenis Identitas': 'int64',
 'Nomor Identitas': 'object',
 'Nama Sesuai Identitas': 'object',
 'Nama Lengkap': 'object',
 'Kode Status Pendidikan atau Gelar Debitur': 'object',
 'Jenis Kelamin': 'object',
 'Tempat Lahir': 'object',
 'Tanggal Lahir': 'object',
 'Nama Gadis Ibu Kandung': 'object',
 'NPWP': 'object',
 'Alamat': 'object',
 'Kelurahan': 'object',
 'Kecamatan': 'object',
 'Kode Kabupaten atau Kota': 'object',
 'Kode Pos': 'object',
 'Nomor Telepon': 'object',
 'Nomor Telepon Seluler': 'object',
 'Alamat email': 'object',
 'Kode Negara Domisili': 'object',
 'Kode Pekerjaan': 'object',
 'Tempat Bekerja': 'object',
 'Kode Bidang Usaha Tempat Bekerja': 'object',
 'Alamat Tempat Bekerja': 'object',
 'Kode Golongan Debitur': 'object',
 'Status Perkawinan Debitur': 'int64',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

# Data Preparation

In [13]:
DataStorage.download_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'_new_filtered.csv')

Blob notebooks/kbij/data201911/f01201911_new_filtered.csv version LATEST downloaded to ./data201911/F01201911.csv.

In [14]:
DataStorage.download_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'_new_filtered.csv')

Blob notebooks/kbij/data201911/d01201911_new_filtered.csv version LATEST downloaded to ./data201911/D01201911.csv.

In [15]:
F01new = pd.read_csv(raw_filename_F01, dtype=F01_dtype)
D01new = pd.read_csv(raw_filename_D01, dtype=D01_dtype)

Change Kode Pelapor to 810038

In [16]:
F01new['Kode Pelapor'] = F01new['Kode Pelapor'].replace("900013","810038")
D01new['Kode Pelapor'] = D01new['Kode Pelapor'].replace("900013","810038")

In [17]:
D01new['Kode Pelapor']

0        810038
1        810038
2        810038
3        810038
4        810038
5        810038
6        810038
7        810038
8        810038
9        810038
10       810038
11       810038
12       810038
13       810038
14       810038
15       810038
16       810038
17       810038
18       810038
19       810038
20       810038
21       810038
22       810038
23       810038
24       810038
25       810038
26       810038
27       810038
28       810038
29       810038
          ...
90682    810038
90683    810038
90684    810038
90685    810038
90686    810038
90687    810038
90688    810038
90689    810038
90690    810038
90691    810038
90692    810038
90693    810038
90694    810038
90695    810038
90696    810038
90697    810038
90698    810038
90699    810038
90700    810038
90701    810038
90702    810038
90703    810038
90704    810038
90705    810038
90706    810038
90707    810038
90708    810038
90709    810038
90710    810038
90711    810038
Name: Kode Pelapor, Length: 90712, dtype: object

In [18]:
F01new['Kode Pelapor']

0         810038
1         810038
2         810038
3         810038
4         810038
5         810038
6         810038
7         810038
8         810038
9         810038
10        810038
11        810038
12        810038
13        810038
14        810038
15        810038
16        810038
17        810038
18        810038
19        810038
20        810038
21        810038
22        810038
23        810038
24        810038
25        810038
26        810038
27        810038
28        810038
29        810038
           ...
116776    810038
116777    810038
116778    810038
116779    810038
116780    810038
116781    810038
116782    810038
116783    810038
116784    810038
116785    810038
116786    810038
116787    810038
116788    810038
116789    810038
116790    810038
116791    810038
116792    810038
116793    810038
116794    810038
116795    810038
116796    810038
116797    810038
116798    810038
116799    810038
116800    810038
116801    810038
116802    810038
116803    810038
116804    810038
116805    810038
Name: Kode Pelapor, Length: 116806, dtype: object

Check for Data With Denda>0 AND Kode Kondisi='01'

In [19]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')][['orderId','Denda','Kode Kondisi']]

             orderId      Denda Kode Kondisi
9947    ATH-3TQMCKL9   200000.0           01
99675   ATH-V88YAF1B   295000.0           01
116550  INS-445WBW1M  1150000.0           01

In [22]:
F01new["Denda"][(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')]=0

In [24]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')][['orderId','Denda','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kondisi]
Index: []

Check If KTP ID has char O/o

In [25]:
D01new['Nomor Identitas'][D01new['Nomor Identitas'].str.contains('O',case=False, regex=False)==True]

1273     32041O6107800006
30363    7471O50209830002
43991    O317404560697000
63621    O340112300495000
Name: Nomor Identitas, dtype: object

In [40]:
D01new['Nomor Identitas'] = D01new['Nomor Identitas'].str.replace('O','0')

In [41]:
D01new['Nomor Identitas'][D01new['Nomor Identitas'].str.contains('O',case=False, regex=False)==True]

Series([], Name: Nomor Identitas, dtype: object)

Trim "Alamat e-mail" to 150 char, "Alamat Tempat Bekerja" to 300 char

In [20]:
D01new['Alamat e-mail']=D01new['Alamat e-mail'].str[-149:]
D01new['Alamat Tempat Bekerja']=D01new['Alamat Tempat Bekerja'].str[:299]

Check if there is still "Alamat e-mail" and "Alamat Tempat Bekerja" with more than 150 and 300 char each

In [42]:
D01new['Alamat e-mail'][D01new['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [43]:
D01new['Alamat Tempat Bekerja'][D01new['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)

In [44]:
D01new[D01new['Nama Sesuai Identitas'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [45]:
F01new.to_csv(path_or_buf=raw_filename_F01, index=False)
D01new.to_csv(path_or_buf=raw_filename_D01, index=False)

In [46]:
DataStorage.upload_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

File ./data201911/F01201911.csv version 2 uploaded to notebooks/kbij/data201911/f01201911.csv.

In [47]:
DataStorage.upload_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

File ./data201911/D01201911.csv version 2 uploaded to notebooks/kbij/data201911/d01201911.csv.

# Load Data

In [48]:
DataStorage.download_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

Blob notebooks/kbij/data201911/f01201911.csv version LATEST downloaded to ./data201911/F01201911.csv.

In [49]:
DataStorage.download_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

Blob notebooks/kbij/data201911/d01201911.csv version LATEST downloaded to ./data201911/D01201911.csv.

In [50]:
F01new = pd.read_csv(raw_filename_F01, dtype=F01_dtype)
D01new = pd.read_csv(raw_filename_D01, dtype=D01_dtype)

In [51]:
print(prev_filtered_filename_F01)
print('kbij/'+prev_pathname)
print('f01'+prev_datem+'_new_filtered.csv')

./data201910/F01201910_new_filtered.csv
kbij/data201910
f01201910_new_filtered.csv

# Checking

## Check column

In [56]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Frekuensi Tunggakan']>0)][['orderId','Jumlah Hari Tunggakan','Frekuensi Tunggakan','Approved Date','status']]

Empty DataFrame
Columns: [orderId, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Approved Date, status]
Index: []

In [57]:
F01new[(F01new['Tunggakan Pokok']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi, dayPastDue]
Index: []

In [58]:
F01new[(F01new['Denda']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
280,ATH-13SVCYFQ,0.0,5,00,239
392,ATH-14T7HLXJ,0.0,4,00,138
488,ATH-15PRH8ZH,0.0,5,00,333
609,ATH-16YXDVAJ,0.0,5,00,471
795,ATH-18J1TZ8J,0.0,4,00,131
810,ATH-18N1YSZX,0.0,5,00,394
844,ATH-192YG3V5,0.0,3,00,96
903,ATH-19KJVYS1,0.0,5,00,226
962,ATH-1A3WA6S1,0.0,4,00,148
996,ATH-1AD7DK4J,0.0,5,00,472
1081,ATH-1B554CH9,0.0,2,00,77
1188,ATH-1C4YU94S,0.0,4,00,152
1291,ATH-1D1E4W6V,0.0,5,00,328
1417,ATH-1E7L47B7,0.0,2,00,76
1442,ATH-1EFPUPPV,0.0,4,00,165
1536,ATH-1FE9P2VB,0.0,2,00,65
1556,ATH-1FK1ML42,0.0,4,00,169
1658,ATH-1GCYQGKX,0.0,5,00,537
1671,ATH-1GHFRCBV,0.0,4,00,160
1755,ATH-1HDK94XF,0.0,5,00,346
1839,ATH-1J4H3MBG,0.0,4,00,151
1880,ATH-1JHWUKYV,0.0,3,00,113
1948,ATH-1K75RJFK,0.0,5,00,300
2006,ATH-1KSYA4NV,0.0,5,00,382
2071,ATH-1LBHQCE5,0.0,3,00,97
2182,ATH-1MBR1P73,0.0,5,00,187
2201,ATH-1MH2JU5R,0.0,5,00,370
2203,ATH-1MHABPZL,0.0,5,00,484
2244,ATH-1MXJQURM,0.0,2,00,47
2575,ATH-1QSJBXUR,0.0,5,00,276
...,...,...,...,...,...
114177,ATH-ZCW5JTK1,0.0,5,00,240
114260,ATH-ZDMVBGFS,0.0,4,00,135
114334,ATH-ZE9U9B4T,0.0,5,00,389
114365,ATH-ZEHQRQ9Q,0.0,4,00,126
114388,ATH-ZESDQB5T,0.0,5,00,183
114405,ATH-ZEYXP22R,0.0,5,00,187
114569,ATH-ZGHB3ZA3,0.0,5,00,196
114779,ATH-ZJJ3E82P,0.0,5,00,339
114882,ATH-ZKJW66JZ,0.0,5,00,452
114954,ATH-ZL7QMGWC,0.0,5,00,242
115076,ATH-ZMEUV85D,0.0,2,00,46
115118,ATH-ZMSEXK67,0.0,5,00,253
115223,ATH-ZNM6RZ8G,0.0,5,00,423
115288,ATH-ZP9B5H1K,0.0,3,00,104
115448,ATH-ZQQYBL9E,0.0,5,00,236
115519,ATH-ZRANQ1U8,0.0,5,00,299
115549,ATH-ZRK281JZ,0.0,4,00,176
115622,ATH-ZS4VRFCD,0.0,5,00,397
115661,ATH-ZSH1RLCC,0.0,5,00,221
115786,ATH-ZTL2KRPF,0.0,5,00,226
115791,ATH-ZTM7LEUL,0.0,4,00,141
115907,ATH-ZUT1D4A3,0.0,5,00,389
116027,ATH-ZVSX7DRQ,0.0,4,00,152
116089,ATH-ZWBYVZM8,0.0,3,00,114
116111,ATH-ZWK6LMJE,0.0,5,00,226
116404,ATH-ZZK2E6BT,0.0,5,00,267
116447,ATH-ZZUUZB2S,0.0,3,00,106
116459,ATH-ZZY6HKK3,0.0,5,00,389
116516,EXT-T6USJQCK,0.0,2,00,88
116704,INS-NY8695N5,0.0,2,00,27

In [59]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Tunggakan Bunga atau Imbalan','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Tunggakan Bunga atau Imbalan,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
16264,ATH-5LEAQ3CS,0,661000.0,5,00,350
55684,ATH-GTBSMBMB,0,458000.0,4,00,160
73685,ATH-MW7D4MYP,0,950000.0,5,00,528
96628,ATH-UCQBBQMV,0,661000.0,5,00,258
104694,ATH-WMZPNWPX,0,661000.0,5,00,262
116466,EXT-2GYRELC2,0,475000.0,3,00,100
116469,EXT-3W91HEJB,0,195000.0,2,00,16
116470,EXT-52Z3T738,0,1120000.0,2,00,39
116471,EXT-5F2H63S4,0,35000.0,2,00,5
116473,EXT-91VPMB6L,0,25000.0,2,00,4
116475,EXT-9NQ7VB8T,0,275000.0,2,00,20
116476,EXT-B1SNQHXC,0,195000.0,2,00,16
116480,EXT-BNPKYXHM,0,25000.0,2,00,4
116481,EXT-DY3DK6H5,0,475000.0,2,00,30
116484,EXT-FDRL8EKL,0,605000.0,2,00,42
116486,EXT-FV8Q86X6,0,415000.0,2,00,27
116490,EXT-HAEGGUK3,0,195000.0,2,00,16
116493,EXT-KXLZFWCK,0,295000.0,2,00,21
116494,EXT-L3GGAG9L,0,710000.0,2,00,48
116498,EXT-MC6DPRMJ,0,950000.0,2,00,65
116501,EXT-N4HYCN1L,0,950000.0,2,00,83
116503,EXT-Q9D6F6FA,0,55000.0,2,00,7
116504,EXT-QQEBFS5R,0,475000.0,3,00,99
116511,EXT-RMXVEEXQ,0,475000.0,2,00,57
116512,EXT-SBU6B9D4,0,355000.0,2,00,24
116513,EXT-SGTJREKP,0,475000.0,2,00,31
116514,EXT-SKSPY2SU,0,175000.0,2,00,15
116515,EXT-SZEY8KTL,0,40000.0,2,00,48
116516,EXT-T6USJQCK,0,0.0,2,00,88
116517,EXT-TECXY3RV,0,25000.0,2,00,4
116520,EXT-VERNXV7W,0,950000.0,2,00,30
116522,EXT-WVF2AJYN,0,25000.0,2,00,4
116523,EXT-XVJGMZ7J,0,25000.0,2,00,4
116527,EXT-ZUUXL2QT,0,395000.0,2,00,26

In [60]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [61]:
F01new[(F01new['Frekuensi Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [62]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [63]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [64]:
F01new[(F01new['Kode Sebab Macet']=='99') & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Kode Sebab Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Kode Sebab Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

In [65]:
F01new[(~F01new['Tanggal Macet'].isnull()) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Tanggal Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Tanggal Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

# Final File to Send to KBIJ D01 and F01

Null check for CIF and NIK

In [66]:
D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [67]:
D01new.drop(D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())].index, inplace=True)

In [68]:
F01new.loc[F01new['Nomor CIF Debitur'].isna()]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [69]:
F01new.drop(F01new.loc[F01new['Nomor CIF Debitur'].isna()].index, inplace=True)

In [70]:
F01new[F01new['Denda'].isna()]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [71]:
F01new[F01new['Denda']==""]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

## Export full data dump to csv to be used in the next iteration

In [72]:
F01new.to_csv(path_or_buf=filtered_filename_F01, index=0)
D01new.to_csv(path_or_buf=filtered_filename_D01, index=0)

In [73]:
DataStorage.upload_notebooks_data(filtered_filename_F01, 'kbij/'+pathname, 'f01'+datem+'_new_filtered.csv')

File ./data201911/F01201911_new_filtered.csv version 2 uploaded to notebooks/kbij/data201911/f01201911_new_filtered.csv.

In [74]:
DataStorage.upload_notebooks_data(filtered_filename_D01, 'kbij/'+pathname, 'd01'+datem+'_new_filtered.csv')

File ./data201911/D01201911_new_filtered.csv version 2 uploaded to notebooks/kbij/data201911/d01201911_new_filtered.csv.

Export Latest Data

In [75]:
timestr = time.strftime("%Y%m%d-%H%M%S")
F01name = dirname+'/F01'+'-'+datem+'['+timestr+']'+'.txt'
D01name = dirname+'/D01'+'-'+datem+'['+timestr+']'+'.txt'
print(F01name,D01name)

./data201911/F01-201911[20201005-145209].txt ./data201911/D01-201911[20201005-145209].txt

In [76]:
F01new_sent=F01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Kode Jenis Fasilitas', 'Nomor Rekening Fasilitas',
       'Nomor Rekening Lama Fasilitas', 'Nomor CIF Debitur',
       'Kode Sifat Kredit atau Pembiayaan',
       'Kode Jenis Kredit atau Pembiayaan',
       'Kode Akad Kredit atau Akad Pembiayaan', 'Nomor Akad Awal',
       'Tanggal Akad Awal', 'Nomor Akad Akhir', 'Tanggal Akad Akhir',
       'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan',
       'Tanggal Awal Kredit atau Pembiayaan', 'Tanggal Mulai',
       'Tanggal Jatuh Tempo', 'Kode Kategori Debitur', 'Kode Jenis Penggunaan',
       'Kode Orientasi Penggunaan', 'Kode Sektor Ekonomi',
       'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan',
       'Nilai Proyek', 'Kode Valuta', 'Suku Bunga atau Imbalan',
       'Jenis Suku Bunga atau Imbalan',
       'Kredit atau Pembiayaan Program Pemerintah', 'Plafon Awal', 'Plafon',
       'Realisasi atau Pencairan Bulan Berjalan', 'Denda', 'Baki Debet',
       'Nilai dalam Mata Uang Asal', 'Kode Kualitas Kredit atau Pembiayaan',
       'Tanggal Macet', 'Kode Sebab Macet', 'Tunggakan Pokok',
       'Tunggakan Bunga atau Imbalan', 'Jumlah Hari Tunggakan',
       'Frekuensi Tunggakan', 'Frekuensi Restrukturisasi',
       'Tanggal Restrukturisasi Awal', 'Tanggal Restrukturisasi Akhir',
       'Kode Cara Restrukturisasi', 'Kode Kondisi', 'Tanggal Kondisi',
       'Keterangan', 'Kode Kantor Cabang', 'Operasi Data', 'Status delete',
       'Create Date', 'Update Date']]
D01new_sent=D01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Nomor CIF Lama Debitur', 'Nomor CIF Debitur', 'Jenis Identitas',
       'Nomor Identitas', 'Nama Sesuai Identitas', 'Nama Lengkap',
       'Kode Status Pendidikan atau Gelar Debitur', 'Jenis Kelamin',
       'Tempat Lahir', 'Tanggal Lahir', 'Nama Gadis Ibu Kandung', 'NPWP',
       'Alamat', 'Kelurahan', 'Kecamatan', 'Kode Kabupaten atau Kota',
       'Kode Pos', 'Nomor Telepon', 'Nomor Telepon Seluler', 'Alamat e-mail',
       'Kode Negara Domisili', 'Kode Pekerjaan', 'Tempat Bekerja',
       'Kode Bidang Usaha Tempat Bekerja', 'Alamat Tempat Bekerja',
       'Kode Golongan Debitur', 'Status Perkawinan Debitur',
       'Kode Kantor Cabang', 'Operasi Data', 'Status delete', 'Create Date',
       'Update Date']]

In [77]:
D01new[D01new['Nama Sesuai Identitas']=='IBNU SIGIT SAPUTRO']

,Kode Jenis Pelapor,Kode Pelapor,Tahun Bulan Data,Nomor CIF Lama Debitur,Nomor CIF Debitur,Jenis Identitas,Nomor Identitas,Nama Sesuai Identitas,Nama Lengkap,Kode Status Pendidikan atau Gelar Debitur,...,Kode Kantor Cabang,Operasi Data,Status delete,Create Date,Update Date,Approved Date,userId,orderId,paidoffDate,status
63621,0301,810038,201911,NaN,3915919828119,1,0340112300495000,IBNU SIGIT SAPUTRO,IBNU SIGIT SAPUTRO,00,...,000,C,T,20190929023016,20191028063704,2019-09-29,3b4654bf-a436-4641-b97e-058fe9edc24b,ATH-Q7Y2QWPX,2019-10-28 06:35:55+00:00,FINISHED

In [78]:
print(F01new_sent.shape)
print(D01new_sent.shape)

(116806, 53)
(90712, 35)

## Export file for KBIJ Reporting

In [79]:
D01new_sent.to_csv(path_or_buf=D01name, sep='|',index =0)
F01new_sent.to_csv(path_or_buf=F01name, sep='|',index =0)

In [80]:
DataStorage.upload_notebooks_data(F01name, 'kbij/'+pathname, 'f01-'+datem+'.txt')

File ./data201911/F01-201911[20201005-145209].txt version 2 uploaded to notebooks/kbij/data201911/f01-201911.txt.

In [81]:
DataStorage.upload_notebooks_data(D01name, 'kbij/'+pathname, 'd01-'+datem+'.txt')

File ./data201911/D01-201911[20201005-145209].txt version 2 uploaded to notebooks/kbij/data201911/d01-201911.txt.

# Check Sent Data

In [83]:
F01_sent = pd.read_csv('./data201911/F01-201911[20201005-145209].txt',sep='|',dtype=F01_dtype)
D01_sent = pd.read_csv('./data201911/D01-201911[20201005-145209].txt',sep='|',dtype=D01_dtype)

In [84]:
F01_sent[F01_sent['Tanggal Mulai'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [85]:
F01_sent[F01_sent['Tanggal Jatuh Tempo'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [87]:
D01_sent['Alamat e-mail'][D01_sent['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [88]:
D01_sent['Alamat Tempat Bekerja'][D01_sent['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)