In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('Test.xlsx')

In [5]:
df.head()

   userid       date    price
0       1 2021-01-04  2701562
1       2 2021-06-04  3973551
2       3 2021-09-09  1018105
3       4 2021-03-31  1844170
4       1 2021-05-05  4334599