In [11]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv('./data/realest.csv')

In [13]:
data.describe()

,Price,Bedroom,Space,Room,Lot,Tax,Bathroom,Garage,Condition
count,156.000000,156.000000,146.000000,156.000000,146.000000,147.000000,156.000000,156.000000,156.000000
mean,56.474359,3.166667,1097.246575,6.500000,32.808219,911.707483,1.480769,0.846154,0.230769
std,12.875307,1.348037,462.540698,1.675247,8.457859,443.263430,0.529408,0.808454,0.422682
min,32.000000,1.000000,539.000000,4.000000,24.000000,418.000000,1.000000,0.000000,0.000000
25%,46.000000,2.000000,805.250000,5.000000,25.000000,652.500000,1.000000,0.000000,0.000000
50%,55.000000,3.000000,965.500000,6.000000,30.000000,821.000000,1.500000,1.000000,0.000000
75%,65.000000,4.000000,1220.500000,7.000000,37.000000,1012.500000,2.000000,1.500000,0.000000
max,90.000000,8.000000,2295.000000,12.000000,50.000000,2752.000000,3.000000,2.000000,1.000000

In [14]:
data.isna().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [67]:
print(data.head())
print(data.corr)

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
<bound method DataFrame.corr of      Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1     55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2     56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3     58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
152   44.0      3.0   820.0   5.0  27.0     NaN       1.0     0.0        1.0
153   43.0      2.0   593.0   4.0  30.0   465.0       2.0     1.0        0.0
154   53.0      3.0   716.0   6.0  30.0   585.0       1.0     2.0        1.0
155   62.0      4.0   951.0   7.0  30.0   895.0       2.0     1.0        0.0
156    NaN      NaN     NaN   NaN   NaN     NaN       NaN     NaN        NaN

[157 rows x 9 columns]>

In [76]:

statistics = data[(data['Bedroom']==4) & (data['Bathroom']==2)].agg({
    'Tax' : ['mean','std','median','min','max']
}).values.tolist()
data_frame = data[data['Space']>800].sort_values(by=['Price'], ascending=False)
number_of_observations = data[data['Lot']>=data['Lot'].quantile(0.75)].corr()

summary_dict = {
    'statistics' : statistics,
    'data_frame' : data_frame,
    'number_of_observations' : number_of_observations
}
type(summary_dict)

dict

In [80]:
def __listwise_deletion(data: pd.DataFrame):
        return data.dropna()

In [81]:
# _data= data.apply(__listwise_deletion)
_data = __listwise_deletion(data)

In [82]:
_data.isna().sum()

Price        0
Bedroom      0
Space        0
Room         0
Lot          0
Tax          0
Bathroom     0
Garage       0
Condition    0
dtype: int64

In [73]:
print(data[data['Lot']>=data['Lot'].quantile(0.75)])

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
9     82.0      4.0  2104.0   9.0  40.0  1038.0       2.5     1.0        1.0
10    85.0      8.0  2240.0  12.0  50.0  1200.0       3.0     2.0        0.0
14    56.0      4.0  1325.0   8.0  50.0  1287.0       1.5     0.0        0.0
17    64.0      4.0  1226.0   8.0  37.0     NaN       2.0     2.0        0.0
21    43.0      3.0   596.0   5.0  50.0     NaN       1.0     0.0        0.0
26    54.0      1.0   964.0   5.0  39.0   621.0       1.5     0.0        0.0
30    62.0      3.0  1124.0   7.0  50.0  1129.0       1.5     1.5        0.0
35    81.0      5.0  2173.0   9.0  40.0  1074.0       2.5     1.0        1.0
36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
40    55.0      5.0  1255.0   8.0  50.0  1278.0       1.5     0.0        0.0
43    65.0      4.0  1250.0   8.0  37.0   554.0       2.0     2.0        0.0
47    42.0      2.0   539.0   5.0  50.0   721.0       1.0     0.0        0.0
52    50.0      2.0     NaN   5.0  39.0   687.0       1.5     0.0        0.0
56    65.0      2.0  1145.0   7.0  50.0     NaN       1.5     1.5        0.0
61    84.0      3.0  2171.0   9.0  40.0  1075.0       2.5     1.0        1.0
62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
66    55.0      3.0  1379.0   8.0  50.0  1309.0       1.5     0.0        0.0
69    66.0      4.0  1243.0   8.0  37.0   591.0       2.0     2.0        0.0
78    54.0      2.0   944.0   5.0  39.0   684.0       1.5     0.0        0.0
82    66.0      3.0  1080.0   7.0  50.0  1127.0       1.5     1.5        0.0
87    80.0      4.0  2045.0   9.0  40.0  1045.0       2.5     1.0        1.0
88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
92    58.0      4.0  1382.0   8.0  50.0  1267.0       1.5     0.0        0.0
95    61.0      4.0     NaN   8.0  37.0   581.0       2.0     2.0        0.0
99    46.0      3.0   643.0   5.0  50.0   756.0       1.0     0.0        0.0
104   55.0      1.0   978.0   5.0  39.0   653.0       1.5     0.0        0.0
108   63.0      3.0  1178.0   7.0  50.0  1124.0       1.5     1.5        0.0
113   81.0      5.0  2170.0   9.0  40.0  1065.0       2.5     1.0        1.0
114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
118   57.0      5.0  1198.0   8.0  50.0  1244.0       1.5     0.0        0.0
121   68.0      4.0  1274.0   8.0  37.0     NaN       2.0     2.0        0.0
125   39.0      2.0   563.0   5.0  50.0   755.0       1.0     0.0        0.0
139   85.0      3.0  2240.0   9.0  40.0  1101.0       2.5     1.0        1.0
140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
144   55.0      3.0  1438.0   8.0  50.0  1294.0       1.5     0.0        0.0
147   66.0      4.0     NaN   8.0  37.0   565.0       2.0     2.0        0.0
151   42.0      3.0   585.0   5.0  50.0   713.0       1.0     0.0        0.0

In [75]:
print(data[data['Lot']>=data['Lot'].quantile(0.75)].corr())

              Price   Bedroom     Space      Room       Lot       Tax  \
Price      1.000000  0.726181  0.956511  0.891947 -0.106402  0.460821
Bedroom    0.726181  1.000000  0.740771  0.912425  0.279740  0.537157
Space      0.956511  0.740771  1.000000  0.913215 -0.098475  0.570349
Room       0.891947  0.912425  0.913215  1.000000  0.161101  0.621704
Lot       -0.106402  0.279740 -0.098475  0.161101  1.000000  0.662384
Tax        0.460821  0.537157  0.570349  0.621704  0.662384  1.000000
Bathroom   0.961318  0.797685  0.953760  0.916008 -0.156342  0.370737
Garage     0.712920  0.595226  0.568447  0.677677 -0.158385  0.102426
Condition  0.487804  0.017388  0.538067  0.214395 -0.378353  0.147694

           Bathroom    Garage  Condition
Price      0.961318  0.712920   0.487804
Bedroom    0.797685  0.595226   0.017388
Space      0.953760  0.568447   0.538067
Room       0.916008  0.677677   0.214395
Lot       -0.156342 -0.158385  -0.378353
Tax        0.370737  0.102426   0.147694
Bathroom   1.000000  0.696558   0.400018
Garage     0.696558  1.000000   0.018956
Condition  0.400018  0.018956   1.000000

In [65]:
print(summary_dict)

{'statistics': [[791.2], [190.37670258959966], [890.0], [554.0], [975.0]], 'data_frame':      Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
19    35.0      4.0  1137.0   7.0  25.0   561.0       1.5     0.0        0.0
97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0

[110 rows x 9 columns]}