In [4]:
import pandas as pd
df = pd.read_pickle("original/data.pkl")

In [5]:
df.shape

(156, 14)

In [7]:
df['updateTime'] = df['updateTime'].astype(str).str[0:10]
df['startTime'] = df['startTime'].astype(str).str[0:10]
df['nextRunTime'] = df['nextRunTime'].astype(str).str[0:10]
df.head()

,name,destinationDatasetId,displayName,updateTime,dataSourceId,schedule,nextRunTime,query,state,userId,datasetRegion,enableFailureEmail,startTime,disabled
0,projects/735081149669/locations/asia-southeast...,,Indodana Facebook Ads Transfer,2020-08-25,scheduled_query,every day 02:30,NaT,INSERT INTO `data-platform-indodana.vayu.indod...,FAILED,None,asia-southeast1,None,NaT,True
1,projects/735081149669/locations/asia-southeast...,,sammith test query,2020-12-15,scheduled_query,every 24 hours,NaT,check,FAILED,-7441248588662392264,asia-southeast1,None,NaT,True
2,projects/735081149669/locations/asia-southeast...,vayu_dev,test_query_for_sammith,2020-12-15,scheduled_query,every day 14:43,NaT,check,FAILED,1720361299785897614,asia-southeast1,None,NaT,True
3,projects/735081149669/locations/asia-southeast...,vayu_dev,marketing_indodana_ops_field_collections_datam...,2021-04-06,scheduled_query,every 7 hours from 00:05 to 07:30,NaT,DELETE FROM `athena-179008.vayu_external.marke...,FAILED,-210127836553099370,asia-southeast1,None,NaT,True
4,projects/735081149669/locations/asia-southeast...,,marketing_indodana_telesales_performance_sheet...,2021-05-06,scheduled_query,every day 02:00,2021-05-07,-- 2019/10 ATH\nDELETE\nFROM\n `athena-1790...,SUCCEEDED,-210127836553099370,asia-southeast1,None,NaT,None

In [57]:
df_test = df[['displayName','query']]##.head()

In [58]:
import pandas as pd
for index, row in df_test.iterrows():
    # Set filename
    filename = 'Test1/' + str(row['displayName']) + '.sql'
    # Creating Datamart
    temp = {'index': '0','value': str(row['query'])}
    data = pd.DataFrame(temp, columns = ['value'],index=['index'])
    # Export file
    import csv
    data.to_csv(filename, index=False, header=False, quoting=csv.QUOTE_NONE, escapechar=' ')