Course 2

In [34]:
import pandas as pd

In [35]:
melb_data = pd.read_csv('melb_data.csv')
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [36]:
# What is the average lot size (rounded to nearest integer)?
avg_lot_size = round(melb_data['Car'].mean(),2)

# As of today, how old is the newest home (current year - the date in which it was built)
import datetime
newest_home_age = datetime.datetime.now().year - melb_data['YearBuilt'].max()

print(str(avg_lot_size) + ' - ' + str(newest_home_age) )

1.61 - 3.0

Course 3

In [37]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [38]:
# dropna drops missing values (think of na as "not available")
melb_data = melb_data.dropna(axis=0)
# axis = 0 -> index (drop rows with null values)
# axis = 1 -> columns (drop columns with missing value)

# Count Rows for each columns
# melb_data.count()

# total columns
len(melb_data.columns)

21

There are many ways to select a subset of your data, 1 of those are : 
<br />1. Dot notation, which we use to select the "prediction target" -> basically choose column that are the value we want to predict, in this case [Price]

<br />2. Selecting with a column list, which we use to select the "features" -> basically choose columns that being used as factor to decide the prediction.

You can pull out a variable with dot-notation. This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.

We'll use the dot notation to select the column we want to predict, which is called the prediction target. By convention, the prediction target is called y. So the code we need to save the house prices in the Melbourne data is

In [39]:
y = melb_data.Price

We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).

In [40]:
melb_data_features=['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melb_data[melb_data_features]

In [41]:
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [42]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

<h3>Use model (example)</h3>

In [43]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor()
# melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor()

In [44]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

<h3>Calculate Mean Absolute Error MAE</h3>

In [45]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

<h3>Split train & validation data</h3>

In [46]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

263188.6410587476

In [47]:
# print the top few validation predictions
print(val_predictions[:10])
# print the top few actual prices from validation data
print(val_y[:10])

[ 937500.  550000. 1050000. 1382500. 1186000.  707500. 1290000. 2175000.
  770000.  875000.]
4850      815000.0
2307      655000.0
10090     957500.0
3645     1330000.0
4930      722000.0
3649      551000.0
5473      945000.0
1682     2400000.0
11114    1200000.0
439       850000.0
Name: Price, dtype: float64

In [48]:
mean_absolute_error(val_y, val_predictions)

263188.6410587476

test2 1

In [49]:
testie = ["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude","Price"]
melb_data_testie = melb_data[testie]
melb_data_testie.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude      Price
1      2       1.0     156.0   -37.8079    144.9934  1035000.0
2      3       2.0     134.0   -37.8093    144.9944  1465000.0
4      4       1.0     120.0   -37.8072    144.9941  1600000.0
6      3       2.0     245.0   -37.8024    144.9993  1876000.0
7      2       1.0     256.0   -37.8060    144.9954  1636000.0

<b>Try to print the model T.T</b>