https://p.cermati.com/T45804

Establish connection

In [1]:
%reload_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:\\Users\\Cermati\\AppData\\Roaming\\gcloud\\application_default_credentials.json"
print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

C:\Users\Cermati\AppData\Roaming\gcloud\application_default_credentials.json

Insert query here

In [2]:
%%bigquery param1 --project athena-179008

WITH data as (
    SELECT
        replace(a.applicantMobilePhoneNumber1,'+','') as mobile
        , MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.createdAt,"Asia/Jakarta") END) as apply_date_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.createdAt,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_apply_cashloan
        , MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.submitDate,"Asia/Jakarta") END) as complete_date_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.submitDate,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_complete_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' AND a.status='Approved' THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_approve_cashloan
        
        , MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.createdAt,"Asia/Jakarta") END) as apply_date_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.createdAt,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_apply_paylater
        , MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.submitDate,"Asia/Jakarta") END) as complete_date_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.submitDate,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_complete_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' AND a.status='Approved' THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_approve_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' AND c.orderId is not null THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_used_paylater
    FROM data-platform-indodana.vayu.indodana_athena_applications a 
    LEFT JOIN athena-179008.vayu_data_mart.view_cli_contracts c ON c.orderId=a.orderId AND (c.active_trx+c.finished_trx)>0
    WHERE a.productType in ('CASH_LOAN','CREDIT_LIMIT')
    AND a.partner IS NULL
    GROUP BY 1
)
SELECT * FROM data

Sample 5 rows to check

In [3]:
param1.shape
# param1.dtypes

(4121698, 12)

In [4]:
param1.head()

,mobile,apply_date_cashloan,has_apply_cashloan,complete_date_cashloan,has_complete_cashloan,has_approve_cashloan,apply_date_paylater,has_apply_paylater,complete_date_paylater,has_complete_paylater,has_approve_paylater,has_used_paylater
0,6281288328161,2018-06-16,YES,None,NO,NO,None,NO,None,NO,NO,NO
1,6281908476718,2019-04-09,YES,2019-04-09,YES,YES,None,NO,None,NO,NO,NO
2,6281233243550,2018-01-15,YES,None,NO,NO,None,NO,None,NO,NO,NO
3,6282214949480,2018-02-25,YES,None,NO,NO,2020-09-11,YES,None,NO,NO,NO
4,6285891711539,2020-10-31,YES,None,NO,NO,2020-12-04,YES,None,NO,NO,NO

Import file

In [5]:
import pandas as pd
df = pd.read_csv('995173.csv')

In [9]:
df.shape
df['mobile']=df['mobile'].astype(str)
df.dtypes

email     object
mobile    object
dtype: object

In [7]:
df.columns = ['email', 'mobile']
df.head()

                         email         mobile
0  faraniandreawan12@gmail.com  6281357505253
1     aghanugraha162@gmail.com  6282217465122
2      syauqyrachman@gmail.com  6281511470181
3             astymp@gmail.com  6281319705902
4        indaezra136@gmail.com  6282299062249

Try to inner join

In [10]:
result = pd.merge(df, param1, how="left", on=["mobile"])

In [11]:
result.shape

(632427, 13)

In [12]:
result.head()

,email,mobile,apply_date_cashloan,has_apply_cashloan,complete_date_cashloan,has_complete_cashloan,has_approve_cashloan,apply_date_paylater,has_apply_paylater,complete_date_paylater,has_complete_paylater,has_approve_paylater,has_used_paylater
0,faraniandreawan12@gmail.com,6281357505253,2021-05-06,YES,2021-05-21,YES,NO,2020-10-13,YES,2021-05-21,YES,NO,NO
1,aghanugraha162@gmail.com,6282217465122,2019-08-21,YES,2019-08-21,YES,YES,2019-09-07,YES,2019-09-07,YES,NO,NO
2,syauqyrachman@gmail.com,6281511470181,2019-03-03,YES,2020-08-18,YES,NO,2021-05-06,YES,2021-05-06,YES,YES,NO
3,astymp@gmail.com,6281319705902,2021-03-01,YES,2021-03-01,YES,YES,2019-08-06,YES,2019-08-06,YES,YES,YES
4,indaezra136@gmail.com,6282299062249,2021-01-16,YES,2021-01-16,YES,YES,2020-02-11,YES,2020-02-11,YES,YES,NO

In [16]:
result.describe()

,email,mobile,apply_date_cashloan,has_apply_cashloan,complete_date_cashloan,has_complete_cashloan,has_approve_cashloan,apply_date_paylater,has_apply_paylater,complete_date_paylater,has_complete_paylater,has_approve_paylater,has_used_paylater
count,510945,632427,436511,587816,246705,587816,587816,478706,587816,273047,587816,587816,587816
unique,498134,632427,1294,2,1179,2,2,684,2,682,2,2,2
top,jchow@cermati.com,6281281036679,2021-03-04,YES,2021-05-10,NO,NO,2021-03-04,YES,2021-04-30,NO,NO,NO
freq,6,1,5097,436511,3320,341111,532481,5496,478706,3513,314769,552508,580164

In [14]:
result.isna().any()

email                      True
mobile                    False
apply_date_cashloan        True
has_apply_cashloan         True
complete_date_cashloan     True
has_complete_cashloan      True
has_approve_cashloan       True
apply_date_paylater        True
has_apply_paylater         True
complete_date_paylater     True
has_complete_paylater      True
has_approve_paylater       True
has_used_paylater          True
dtype: bool

In [15]:
result.isnull().sum()

email                     121482
mobile                         0
apply_date_cashloan       195916
has_apply_cashloan         44611
complete_date_cashloan    385722
has_complete_cashloan      44611
has_approve_cashloan       44611
apply_date_paylater       153721
has_apply_paylater         44611
complete_date_paylater    359380
has_complete_paylater      44611
has_approve_paylater       44611
has_used_paylater          44611
dtype: int64

In [36]:
result['has_apply_cashloan']=result['has_apply_cashloan'].fillna('NO')
result['has_apply_paylater']=result['has_apply_paylater'].fillna('NO')
result.isnull().sum()

email                     121482
mobile                         0
apply_date_cashloan       196018
has_apply_cashloan             0
complete_date_cashloan    385919
has_complete_cashloan      44650
has_approve_cashloan       44650
apply_date_paylater       153872
has_apply_paylater             0
complete_date_paylater    359607
has_complete_paylater      44650
has_approve_paylater       44650
has_used_paylater          44650
dtype: int64

In [17]:
from datetime import date
# print(date.today())
today_str = str(date.today()).replace('-','')
filename = 'Data_User_Uninstall_Last3month_' + today_str + '.xlsx'
print(filename)
# result.to_excel(filename,index=False)

Data_User_Uninstall_Last3month_20210525.xlsx