Establish connection

In [1]:
%reload_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:\\Users\\Cermati\\AppData\\Roaming\\gcloud\\application_default_credentials.json"
print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

C:\Users\Cermati\AppData\Roaming\gcloud\application_default_credentials.json

Insert query here

In [4]:
%%bigquery param1 --project athena-179008

WITH data as (
    SELECT
        replace(a.applicantMobilePhoneNumber1,'+','') as mobile
        , MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.createdAt,"Asia/Jakarta") END) as apply_date_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.createdAt,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_apply_cashloan
        , MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.submitDate,"Asia/Jakarta") END) as complete_date_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' THEN date(a.submitDate,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_complete_cashloan
        , CASE WHEN MAX(CASE WHEN a.productType='CASH_LOAN' AND a.status='Approved' THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_approve_cashloan
        
        , MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.createdAt,"Asia/Jakarta") END) as apply_date_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.createdAt,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_apply_paylater
        , MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.submitDate,"Asia/Jakarta") END) as complete_date_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' THEN date(a.submitDate,"Asia/Jakarta") END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_complete_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' AND a.status='Approved' THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_approve_paylater
        , CASE WHEN MAX(CASE WHEN a.productType='CREDIT_LIMIT' AND c.orderId is not null THEN 1 END) IS NOT NULL THEN 'YES' ELSE 'NO' END as has_used_paylater
    FROM data-platform-indodana.vayu.indodana_athena_applications a 
    LEFT JOIN athena-179008.vayu_data_mart.view_cli_contracts c ON c.orderId=a.orderId AND (c.active_trx+c.finished_trx)>0
    WHERE a.productType in ('CASH_LOAN','CREDIT_LIMIT')
    AND a.partner IS NULL
    GROUP BY 1
)
SELECT * FROM data

Sample 5 rows to check

In [23]:
param1.shape
# param1.dtypes

mobile                    object
apply_date_cashloan       object
has_apply_cashloan        object
complete_date_cashloan    object
has_complete_cashloan     object
has_approve_cashloan      object
apply_date_paylater       object
has_apply_paylater        object
complete_date_paylater    object
has_complete_paylater     object
has_approve_paylater      object
has_used_paylater         object
dtype: object

In [6]:
param1.head()

,mobile,apply_date_cashloan,has_apply_cashloan,complete_date_cashloan,has_complete_cashloan,has_approve_cashloan,apply_date_paylater,has_apply_paylater,complete_date_paylater,has_complete_paylater,has_approve_paylater,has_used_paylater
0,6285218506223,2021-02-15,YES,2021-02-15,YES,NO,2020-08-21,YES,2021-02-15,YES,NO,NO
1,6289666221989,2019-06-28,YES,2019-06-28,YES,NO,None,NO,None,NO,NO,NO
2,6285794911709,2020-06-16,YES,2020-06-16,YES,NO,2021-04-08,YES,2021-04-08,YES,NO,NO
3,62895325895546,2018-06-30,YES,None,NO,NO,None,NO,None,NO,NO,NO
4,6282110939757,2018-06-30,YES,None,NO,NO,None,NO,None,NO,NO,NO

Export to excel/csv

In [5]:
from datetime import date
# print(date.today())
today_str = str(date.today()).replace('-','')
filename = 'Paylater_Trx_Sample_' + today_str + '.xlsx'
print(filename)

Paylater_Trx_Sample_20210524.xlsx

In [6]:
param1.to_excel(filename,index=False)