In [6]:
%reload_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:\\Users\\Cermati\\AppData\\Roaming\\gcloud\\application_default_credentials.json"
print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

C:\Users\Cermati\AppData\Roaming\gcloud\application_default_credentials.json

In [7]:
%%bigquery param1 --project athena-179008
SELECT * FROM vayu_external.scheduled_query_athena179008

In [8]:
# param1['updateTime'] = param1['updateTime'].astype(str).str[0:10]
# param1['startTime'] = param1['startTime'].astype(str).str[0:10]
# param1['nextRunTime'] = param1['nextRunTime'].astype(str).str[0:10]
param1.head()

,name,destinationDatasetId,displayName,updateTime,dataSourceId,schedule,nextRunTime,query,state,userId,datasetRegion,enableFailureEmail,startTime,disabled
0,projects/735081149669/locations/asia-southeast...,,Indodana Facebook Ads Transfer,2020-08-25 04:55:07.076937+00:00,scheduled_query,every day 02:30,NaT,INSERT INTO `data-platform-indodana.vayu.indod...,FAILED,None,asia-southeast1,None,NaT,True
1,projects/735081149669/locations/asia-southeast...,,sammith test query,2020-12-15 04:43:44.527948+00:00,scheduled_query,every 24 hours,NaT,check,FAILED,-7441248588662392264,asia-southeast1,None,NaT,True
2,projects/735081149669/locations/asia-southeast...,vayu_dev,test_query_for_sammith,2020-12-15 04:43:40.443463+00:00,scheduled_query,every day 14:43,NaT,check,FAILED,1720361299785897614,asia-southeast1,None,NaT,True
3,projects/735081149669/locations/asia-southeast...,vayu_dev,marketing_indodana_ops_field_collections_datam...,2021-04-06 10:49:47.692299+00:00,scheduled_query,every 7 hours from 00:05 to 07:30,NaT,DELETE FROM `athena-179008.vayu_external.marke...,FAILED,-210127836553099370,asia-southeast1,None,NaT,True
4,projects/735081149669/locations/asia-southeast...,,marketing_indodana_telesales_performance_sheet...,2021-05-06 06:27:05.039966+00:00,scheduled_query,every day 02:00,2021-05-07 02:00:00+00:00,-- 2019/10 ATH\nDELETE\nFROM\n `athena-1790...,SUCCEEDED,-210127836553099370,asia-southeast1,None,NaT,None

In [10]:
param1.to_pickle("original/data.pkl")