In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
import re
import os,sys

import kbij_helper as kbijh
kbij = kbijh.KBIJ()

import warnings
warnings.filterwarnings('ignore')
autostats_lib = "../../../autostats"
if autostats_lib not in sys.path:
    sys.path.append(autostats_lib)

from utilities.data_storage import DataStorage
import time

In [2]:
%load_ext google.cloud.bigquery
from google.cloud import bigquery
DataStorage(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

from IPython.display import clear_output

In [3]:
def get_key(my_dict, val):
    keys_list = []
    for key, value in my_dict.items(): 
         if val == value: 
             keys_list.append(key)
  
    return keys_list

In [4]:
date = "2020-02-01"
prev_date = "2020-01-01"

In [5]:
datem = pd.to_datetime(date)
datem = datem.strftime("%Y%m")
print(datem)

202002

In [6]:
pathname = 'data'+datem
dirname = './'+pathname

In [7]:
raw_filename_F01 = dirname+'/F01'+datem+'.csv'
raw_filename_D01 = dirname+'/D01'+datem+'.csv'

In [8]:
filtered_filename_F01 = dirname+'/F01'+datem+'_new_filtered.csv'
filtered_filename_D01 = dirname+'/D01'+datem+'_new_filtered.csv'

In [9]:
prev_datem = pd.to_datetime(prev_date)
prev_datem = prev_datem.strftime("%Y%m")
print(prev_datem)

202001

In [10]:
prev_pathname = 'data'+prev_datem
prev_dirname = './'+prev_pathname

In [11]:
prev_filtered_filename_F01 = prev_dirname+'/F01'+prev_datem+'_new_filtered.csv'
prev_filtered_filename_D01 = prev_dirname+'/D01'+prev_datem+'_new_filtered.csv'

In [12]:
F01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Kode Jenis Fasilitas': 'object',
 'Nomor Rekening Fasilitas': 'object',
 'Nomor Rekening Lama Fasilitas': 'object',
 'Nomor CIF Debitur': 'object',
 'Kode Sifat Kredit atau Pembiayaan': 'str',
 'Kode Jenis Kredit atau Pembiayaan': 'str',
 'Kode Akad Kredit atau Akad Pembiayaan': 'object',
 'Nomor Akad Awal': 'object',
 'Tanggal Akad Awal': 'object',
 'Nomor Akad Akhir': 'object',
 'Tanggal Akad Akhir': 'object',
 'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan': 'int64',
 'Tanggal Awal Kredit atau Pembiayaan': 'object',
 'Tanggal Mulai': 'object',
 'Tanggal Jatuh Tempo': 'object',
 'Kode Kategori Debitur': 'object',
 'Kode Jenis Penggunaan': 'str',
 'Kode Orientasi Penggunaan': 'str',
 'Kode Sektor Ekonomi': 'object',
 'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan': 'object',
 'Nilai Proyek': 'object',
 'Kode Valuta': 'object',
 'Suku Bunga atau Imbalan': 'float64',
 'Jenis Suku Bunga atau Imbalan': 'int64',
 'Kredit atau Pembiayaan Program Pemerintah': 'object',
 'Plafon Awal': 'float64',
 'Plafon': 'float64',
 'Realisasi atau Pencairan Bulan Berjalan': 'float64',
 'Denda': 'float64',
 'Baki Debet': 'float64',
 'Nilai dalam Mata Uang Asal': 'object',
 'Kode Kualitas Kredit atau Pembiayaan': 'str',
 'Tanggal Macet': 'object',
 'Kode Sebab Macet': 'str',
 'Tunggakan Pokok': 'int64',
 'Tunggakan Bunga atau Imbalan': 'int64',
 'Jumlah Hari Tunggakan': 'int64',
 'Frekuensi Tunggakan': 'int64',
 'Frekuensi Restrukturisasi': 'int64',
 'Tanggal Restrukturisasi Awal': 'object',
 'Tanggal Restrukturisasi Akhir': 'object',
 'Kode Cara Restrukturisasi': 'object',
 'Kode Kondisi': 'object',
 'Tanggal Kondisi': 'object',
 'Keterangan': 'object',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

D01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Nomor CIF Lama Debitur': 'object',
 'Nomor CIF Debitur': 'object',
 'Jenis Identitas': 'int64',
 'Nomor Identitas': 'object',
 'Nama Sesuai Identitas': 'object',
 'Nama Lengkap': 'object',
 'Kode Status Pendidikan atau Gelar Debitur': 'object',
 'Jenis Kelamin': 'object',
 'Tempat Lahir': 'object',
 'Tanggal Lahir': 'object',
 'Nama Gadis Ibu Kandung': 'object',
 'NPWP': 'object',
 'Alamat': 'object',
 'Kelurahan': 'object',
 'Kecamatan': 'object',
 'Kode Kabupaten atau Kota': 'object',
 'Kode Pos': 'object',
 'Nomor Telepon': 'object',
 'Nomor Telepon Seluler': 'object',
 'Alamat email': 'object',
 'Kode Negara Domisili': 'object',
 'Kode Pekerjaan': 'object',
 'Tempat Bekerja': 'object',
 'Kode Bidang Usaha Tempat Bekerja': 'object',
 'Alamat Tempat Bekerja': 'object',
 'Kode Golongan Debitur': 'object',
 'Status Perkawinan Debitur': 'int64',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

# Data Preparation

In [13]:
DataStorage.download_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'_new_filtered.csv')

Blob notebooks/kbij/data202002/f01202002_new_filtered.csv version LATEST downloaded to ./data202002/F01202002.csv.

In [14]:
DataStorage.download_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'_new_filtered.csv')

Blob notebooks/kbij/data202002/d01202002_new_filtered.csv version LATEST downloaded to ./data202002/D01202002.csv.

In [15]:
F01new = pd.read_csv(raw_filename_F01, dtype=F01_dtype)
D01new = pd.read_csv(raw_filename_D01, dtype=D01_dtype)

Change Kode Pelapor to 810038

In [16]:
F01new['Kode Pelapor'] = F01new['Kode Pelapor'].replace("900013","810038")
D01new['Kode Pelapor'] = D01new['Kode Pelapor'].replace("900013","810038")

In [17]:
D01new['Kode Pelapor']

0         810038
1         810038
2         810038
3         810038
4         810038
5         810038
6         810038
7         810038
8         810038
9         810038
10        810038
11        810038
12        810038
13        810038
14        810038
15        810038
16        810038
17        810038
18        810038
19        810038
20        810038
21        810038
22        810038
23        810038
24        810038
25        810038
26        810038
27        810038
28        810038
29        810038
           ...
119306    810038
119307    810038
119308    810038
119309    810038
119310    810038
119311    810038
119312    810038
119313    810038
119314    810038
119315    810038
119316    810038
119317    810038
119318    810038
119319    810038
119320    810038
119321    810038
119322    810038
119323    810038
119324    810038
119325    810038
119326    810038
119327    810038
119328    810038
119329    810038
119330    810038
119331    810038
119332    810038
119333    810038
119334    810038
119335    810038
Name: Kode Pelapor, Length: 119336, dtype: object

In [18]:
F01new['Kode Pelapor']

0         810038
1         810038
2         810038
3         810038
4         810038
5         810038
6         810038
7         810038
8         810038
9         810038
10        810038
11        810038
12        810038
13        810038
14        810038
15        810038
16        810038
17        810038
18        810038
19        810038
20        810038
21        810038
22        810038
23        810038
24        810038
25        810038
26        810038
27        810038
28        810038
29        810038
           ...
144553    810038
144554    810038
144555    810038
144556    810038
144557    810038
144558    810038
144559    810038
144560    810038
144561    810038
144562    810038
144563    810038
144564    810038
144565    810038
144566    810038
144567    810038
144568    810038
144569    810038
144570    810038
144571    810038
144572    810038
144573    810038
144574    810038
144575    810038
144576    810038
144577    810038
144578    810038
144579    810038
144580    810038
144581    810038
144582    810038
Name: Kode Pelapor, Length: 144583, dtype: object

Check for Data With Denda>0 AND Kode Kondisi='01'

In [19]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')][['orderId','Denda','Kode Kondisi']]

            orderId    Denda Kode Kondisi
36178  ATH-9ANCE5H8  50000.0           01

In [20]:
F01new["Denda"][(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')]=0

In [21]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kondisi']=='01')][['orderId','Denda','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kondisi]
Index: []

Test

In [30]:
F01new[['orderId','Tanggal Jatuh Tempo','Tanggal Mulai','Kode Kondisi']][F01new['Kode Kondisi']=='01']

             orderId Tanggal Jatuh Tempo Tanggal Mulai Kode Kondisi
172     ATH-12GPBT24            20200221      20200121           01
422     ATH-14K125HK            20200204      20200104           01
591     ATH-15R3JTVJ            20200218      20200118           01
600     ATH-15TDUNA7            20190307      20190207           01
870     ATH-17XXYM99            20200216      20200116           01
929     ATH-18CSGWKH            20200228      20200128           01
1046    ATH-19AKDDAD            20200328      20200128           01
1521    ATH-1CZA3KU5            20180816      20180716           01
1740    ATH-1EMZ52RJ            20200228      20200128           01
1974    ATH-1GGRGRM6            20200428      20200128           01
2174    ATH-1HYZ2D9L            20200228      20200129           01
2280    ATH-1JX4XLP8            20190223      20190123           01
2557    ATH-1M4FYMY1            20180625      20180525           01
2843    ATH-1P1V47W1            20180825      20180725           01
2936    ATH-1PNCN7CD            20200202      20200102           01
3001    ATH-1Q4EH7ZA            20200128      20191230           01
3543    ATH-1U5CBRW6            20200218      20200118           01
3999    ATH-1XJ9FEHP            20200211      20200111           01
4312    ATH-2131MHMJ            20200227      20200127           01
4418    ATH-21WDAMHK            20180711      20180611           01
4964    ATH-25UXE5BX            20200203      20200103           01
5210    ATH-281BFFH2            20200214      20200114           01
5387    ATH-299UACCC            20200203      20200103           01
5476    ATH-29WDNAY6            20180908      20180808           01
5587    ATH-2AP54LSV            20190128      20181229           01
5721    ATH-2BPF7M33            20200203      20200103           01
5904    ATH-2CXR867B            20200225      20200125           01
6240    ATH-2FL5CR46            20200207      20200107           01
6272    ATH-2FUDY6WL            20200213      20200113           01
6327    ATH-2G5EKXHX            20200203      20200103           01
...              ...                 ...           ...          ...
139774  ATH-YZ6B6419            20200128      20191231           01
139802  ATH-YZDZ4RFF            20200128      20191230           01
140222  ATH-Z39CJZLY            20180624      20180524           01
140256  ATH-Z3JZW1CH            20200218      20200118           01
140321  ATH-Z4145Q1H            20200224      20200124           01
140371  ATH-Z4BW37K1            20200413      20200113           01
140433  ATH-Z4S8VGAD            20200206      20200106           01
141074  ATH-Z9MUTF96            20200202      20200102           01
141122  ATH-Z9ZDFY5N            20180915      20180815           01
141463  ATH-ZCJQQXWH            20200211      20200111           01
141473  ATH-ZCLAVRF4            20200203      20200103           01
141506  ATH-ZCTLT56V            20200202      20200102           01
141734  ATH-ZELHAQEV            20200217      20200117           01
141840  ATH-ZFFSS336            20190304      20190204           01
141871  ATH-ZFPT7AC6            20200202      20200102           01
142194  ATH-ZHXRMM5M            20180927      20180827           01
142309  ATH-ZJVC86JX            20200225      20200125           01
142429  ATH-ZL1FH8NA            20200207      20200107           01
142725  ATH-ZN6ZFF9Z            20200209      20200109           01
142961  ATH-ZPXQEQ5G            20200206      20200106           01
143410  ATH-ZT8GFED2            20200128      20191231           01
143427  ATH-ZTB41DW7            20180706      20180606           01
143435  ATH-ZTE2SEMN            20180915      20180815           01
143559  ATH-ZUC1XSD4            20200225      20200125           01
143652  ATH-ZUZJATMF            20200221      20200121           01
143668  ATH-ZV3HC2T8            20200128      20191229           01
143713  ATH-ZVEBQUH3            20181128      20181031           01
143749  ATH-ZVR61RZ8            20200128      20191231           01
143947  ATH-ZX5QMWX7            20200228      20200128           01
143972  ATH-ZXBV37TF            20200207      20200107           01

[804 rows x 4 columns]

F01 - Tanggal Jatuh Tempo tidak terisi

In [37]:
F01new[F01new['Tanggal Jatuh Tempo'].isna()][['orderId','Tanggal Jatuh Tempo','Tanggal Mulai','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Tanggal Jatuh Tempo, Tanggal Mulai, Kode Kondisi]
Index: []

In [34]:
# 20180208
F01new['Tanggal Mulai'][F01new['orderId']=='ATH-EG3N2E52'] = '20180208'
F01new['Tanggal Jatuh Tempo'][F01new['orderId']=='ATH-EG3N2E52'] = '20180308'

In [35]:
F01new[F01new['orderId']=='ATH-EG3N2E52'][['orderId','Tanggal Jatuh Tempo','Tanggal Mulai','Kode Kondisi']]

            orderId Tanggal Jatuh Tempo Tanggal Mulai Kode Kondisi
58522  ATH-EG3N2E52            20180308      20180208           01

F01 - Tanggal Mulai tidak terisi

In [36]:
F01new[F01new['Tanggal Mulai'].isna()][['orderId','Tanggal Jatuh Tempo','Tanggal Mulai']]

Empty DataFrame
Columns: [orderId, Tanggal Jatuh Tempo, Tanggal Mulai]
Index: []

Check If KTP ID has char O/o

In [38]:
D01new['Nomor Identitas'][D01new['Nomor Identitas'].str.contains('O',case=False, regex=False)==True]

Series([], Name: Nomor Identitas, dtype: object)

Trim "Alamat e-mail" to 150 char, "Alamat Tempat Bekerja" to 300 char

In [40]:
D01new['Alamat e-mail']=D01new['Alamat e-mail'].str[-149:]
D01new['Alamat Tempat Bekerja']=D01new['Alamat Tempat Bekerja'].str[:299]

Check if there is still "Alamat e-mail" and "Alamat Tempat Bekerja" with more than 150 and 300 char each

In [41]:
D01new['Alamat e-mail'][D01new['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [42]:
D01new['Alamat Tempat Bekerja'][D01new['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)

In [43]:
D01new[D01new['Nama Sesuai Identitas'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [44]:
F01new.to_csv(path_or_buf=raw_filename_F01, index=False)
D01new.to_csv(path_or_buf=raw_filename_D01, index=False)

In [45]:
DataStorage.upload_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

File ./data202002/F01202002.csv version 2 uploaded to notebooks/kbij/data202002/f01202002.csv.

In [46]:
DataStorage.upload_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

File ./data202002/D01202002.csv version 2 uploaded to notebooks/kbij/data202002/d01202002.csv.

# Load Data

In [47]:
DataStorage.download_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

Blob notebooks/kbij/data202002/f01202002.csv version LATEST downloaded to ./data202002/F01202002.csv.

In [48]:
DataStorage.download_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

Blob notebooks/kbij/data202002/d01202002.csv version LATEST downloaded to ./data202002/D01202002.csv.

In [49]:
F01new = pd.read_csv(raw_filename_F01, dtype=F01_dtype)
D01new = pd.read_csv(raw_filename_D01, dtype=D01_dtype)

In [50]:
print(prev_filtered_filename_F01)
print('kbij/'+prev_pathname)
print('f01'+prev_datem+'_new_filtered.csv')

./data202001/F01202001_new_filtered.csv
kbij/data202001
f01202001_new_filtered.csv

In [51]:
DataStorage.download_notebooks_data(prev_filtered_filename_F01, 'kbij/'+prev_pathname, 'f01'+prev_datem+'_new_filtered.csv')

Blob notebooks/kbij/data202001/f01202001_new_filtered.csv version LATEST downloaded to ./data202001/F01202001_new_filtered.csv.

In [52]:
DataStorage.download_notebooks_data(prev_filtered_filename_D01, 'kbij/'+prev_pathname, 'd01'+prev_datem+'_new_filtered.csv')

Blob notebooks/kbij/data202001/d01202001_new_filtered.csv version LATEST downloaded to ./data202001/D01202001_new_filtered.csv.

In [53]:
F01_prev = pd.read_csv(prev_filtered_filename_F01, dtype=F01_dtype)
D01_prev = pd.read_csv(prev_filtered_filename_D01, dtype=D01_dtype)

In [54]:
print('D01new:',D01new.shape, 'F01new:',F01new.shape)
print('D01_prev:',D01_prev.shape, 'F01_prev:',F01_prev.shape)

D01new: (119336, 40) F01new: (144583, 69)
D01_prev: (112372, 40) F01_prev: (135874, 69)

# Checking

In [55]:
F01new, D01new = kbij.checking_data(F01new, D01new, date, F01_prev=F01_prev, D01_prev=D01_prev)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[CLEAR]No Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

[CLEAR]No Active Kode Kondisi but Baki Debet = 0

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202002']
D01: ['202002']

[DONE]
================================================================================

## Check column

In [56]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Frekuensi Tunggakan']>0)][['orderId','Jumlah Hari Tunggakan','Frekuensi Tunggakan','Approved Date','status']]

Empty DataFrame
Columns: [orderId, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Approved Date, status]
Index: []

In [57]:
F01new[(F01new['Tunggakan Pokok']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi, dayPastDue]
Index: []

In [58]:
F01new[(F01new['Denda']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
332,ATH-13SVCYFQ,0.0,5,00,331
449,ATH-14T7HLXJ,0.0,5,00,230
567,ATH-15KDJSLQ,0.0,2,00,83
572,ATH-15LJUAP8,0.0,3,00,96
584,ATH-15PRH8ZH,0.0,5,00,425
662,ATH-168CD7PA,0.0,3,00,92
945,ATH-18J1TZ8J,0.0,5,00,223
958,ATH-18N1YSZX,0.0,5,00,486
995,ATH-18WV4LT1,0.0,5,00,268
1011,ATH-192YG3V5,0.0,5,00,188
1028,ATH-1962MKG4,0.0,5,00,391
1078,ATH-19KJVYS1,0.0,5,00,318
1108,ATH-19T5GQB3,0.0,2,00,48
1135,ATH-19ZX7MWS,0.0,2,00,51
1149,ATH-1A3WA6S1,0.0,5,00,240
1184,ATH-1AD7DK4J,0.0,5,00,564
1212,ATH-1ALAHJ94,0.0,2,00,85
1290,ATH-1B554CH9,0.0,4,00,169
1413,ATH-1C4YU94S,0.0,5,00,244
1443,ATH-1CCX7K18,0.0,5,00,359
1478,ATH-1CNZQWHZ,0.0,2,00,74
1527,ATH-1D1E4W6V,0.0,5,00,420
1674,ATH-1E7L47B7,0.0,4,00,168
1708,ATH-1EFPUPPV,0.0,5,00,257
1710,ATH-1EG8EGVT,0.0,2,00,75
1823,ATH-1FE9P2VB,0.0,4,00,157
1851,ATH-1FK1ML42,0.0,5,00,261
1890,ATH-1FWD8FUY,0.0,5,00,229
1958,ATH-1GCYQGKX,0.0,5,00,629
1979,ATH-1GHFRCBV,0.0,5,00,252
...,...,...,...,...,...
142380,ATH-ZKJW66JZ,0.0,5,00,544
142460,ATH-ZL7QMGWC,0.0,5,00,334
142613,ATH-ZMEUV85D,0.0,4,00,138
142673,ATH-ZMSEXK67,0.0,5,00,345
142787,ATH-ZNM6RZ8G,0.0,5,00,515
142869,ATH-ZP9B5H1K,0.0,5,00,196
143066,ATH-ZQQYBL9E,0.0,5,00,328
143149,ATH-ZRANQ1U8,0.0,5,00,391
143173,ATH-ZRK281JZ,0.0,5,00,268
143192,ATH-ZRQC2BP5,0.0,4,00,126
143260,ATH-ZS4VRFCD,0.0,5,00,489
143307,ATH-ZSH1RLCC,0.0,5,00,313
143419,ATH-ZTA8F6KU,0.0,4,00,131
143457,ATH-ZTL2KRPF,0.0,5,00,318
143461,ATH-ZTM7LEUL,0.0,5,00,233
143633,ATH-ZUT1D4A3,0.0,5,00,481
143759,ATH-ZVSX7DRQ,0.0,5,00,244
143839,ATH-ZWBYVZM8,0.0,5,00,206
143866,ATH-ZWK6LMJE,0.0,5,00,318
143912,ATH-ZWWU8NKQ,0.0,5,00,221
143973,ATH-ZXC2KNVT,0.0,3,00,99
144254,ATH-ZZK2E6BT,0.0,5,00,359
144293,ATH-ZZUUZB2S,0.0,5,00,198
144309,ATH-ZZY6HKK3,0.0,5,00,481
144406,EXT-SBU6B9D4,0.0,3,00,116
144407,EXT-SGTJREKP,0.0,4,00,123
144411,EXT-T6USJQCK,0.0,4,00,180
144493,INS-EJEW9S5N,0.0,2,00,82
144513,INS-J5QLTQ4R,0.0,5,00,205
144523,INS-N9EFNP24,0.0,4,00,129

In [59]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Tunggakan Bunga atau Imbalan','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Tunggakan Bunga atau Imbalan,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
20018,ATH-5LEAQ3CS,0,661000.0,5,00,442
25705,ATH-6XQVT373,0,950000.0,3,00,119
44859,ATH-B9PXR6QK,0,475000.0,3,00,115
68741,ATH-GTBSMBMB,0,458000.0,5,00,252
91142,ATH-MW7D4MYP,0,950000.0,5,00,620
119471,ATH-UCQBBQMV,0,661000.0,5,00,350
129508,ATH-WMZPNWPX,0,661000.0,5,00,354
144324,EXT-1CPE886S,0,950000.0,2,00,84
144325,EXT-1KE2RGRF,0,475000.0,2,00,68
144328,EXT-2GYRELC2,0,475000.0,5,00,192
144329,EXT-2QFF4S9F,0,778000.0,2,00,83
144331,EXT-3PGTC3M4,0,510000.0,2,00,19
144332,EXT-3W91HEJB,0,950000.0,3,00,108
144334,EXT-52Z3T738,0,1900000.0,4,00,131
144335,EXT-5F2H63S4,0,475000.0,3,00,97
144336,EXT-6T4MJPCN,0,475000.0,2,00,35
144337,EXT-722S3Z7R,0,318500.0,2,00,25
144338,EXT-7M1JAJW6,0,1240000.0,2,00,44
144339,EXT-7YPXFU16,0,475000.0,2,00,35
144340,EXT-875SQEHB,0,1380000.0,2,00,48
144341,EXT-88FSTV1W,0,235000.0,2,00,18
144343,EXT-91VPMB6L,0,475000.0,3,00,96
144344,EXT-9NQ7VB8T,0,950000.0,3,00,112
144345,EXT-AN8DXAF8,0,635000.0,2,00,45
144346,EXT-B1SNQHXC,0,475000.0,3,00,108
144348,EXT-BHS6GMZ1,0,475000.0,2,00,52
144350,EXT-BPSDLKQ3,0,530000.0,2,00,38
144352,EXT-BSDL9CK2,0,255000.0,2,00,19
144356,EXT-D1AZRCR8,0,1040000.0,2,00,37
144358,EXT-DY3DK6H5,0,475000.0,4,00,122
...,...,...,...,...,...,...
144386,EXT-LHWHHDZH,0,295000.0,2,00,21
144387,EXT-LY6YVJ99,0,355000.0,2,00,24
144389,EXT-M1FT7VEW,0,255000.0,2,00,19
144390,EXT-MC6DPRMJ,0,950000.0,4,00,157
144391,EXT-N31K1VPK,0,415000.0,2,00,86
144392,EXT-N4HYCN1L,0,950000.0,4,00,175
144394,EXT-P9HLCJAP,0,475000.0,2,00,82
144396,EXT-Q9MC84MS,0,347000.0,2,00,68
144398,EXT-QQEBFS5R,0,475000.0,5,00,191
144400,EXT-QTY8CGFS,0,364500.0,2,00,30
144401,EXT-RA2A9V6V,0,1900000.0,2,00,72
144402,EXT-RCWH9ZL7,0,950000.0,2,00,68
144403,EXT-RLZW7HA9,0,950000.0,2,00,68
144404,EXT-RMXVEEXQ,0,475000.0,4,00,149
144405,EXT-RQ9QR4M2,0,335000.0,2,00,23
144406,EXT-SBU6B9D4,0,0.0,3,00,116
144407,EXT-SGTJREKP,0,0.0,4,00,123
144409,EXT-SKSPY2SU,0,950000.0,3,00,107
144410,EXT-SZEY8KTL,0,280000.0,4,00,140
144411,EXT-T6USJQCK,0,0.0,4,00,180
144415,EXT-TXZX967B,0,335000.0,2,00,23
144416,EXT-U7TFW731,0,275000.0,2,00,20
144418,EXT-VERNXV7W,0,950000.0,4,00,122
144419,EXT-VH5FNVSF,0,475000.0,2,00,59
144420,EXT-VV32W82H,0,195000.0,2,00,16
144421,EXT-WUNFM9L8,0,950000.0,2,00,67
144424,EXT-Y7G31EVZ,0,950000.0,2,00,72
144426,EXT-YAGG8AML,0,750000.0,2,00,51
144427,EXT-YC15XLHN,0,25000.0,2,00,4
144429,EXT-ZD112VQW,0,402500.0,2,00,55

In [60]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [61]:
F01new[(F01new['Frekuensi Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [62]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [63]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [64]:
F01new[(F01new['Kode Sebab Macet']=='99') & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Kode Sebab Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Kode Sebab Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

In [65]:
F01new[(~F01new['Tanggal Macet'].isnull()) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Tanggal Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Tanggal Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

# Final File to Send to KBIJ D01 and F01

Null check for CIF and NIK

In [66]:
D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [67]:
D01new.drop(D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())].index, inplace=True)

In [68]:
F01new.loc[F01new['Nomor CIF Debitur'].isna()]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [69]:
F01new.drop(F01new.loc[F01new['Nomor CIF Debitur'].isna()].index, inplace=True)

In [70]:
F01new[F01new['Denda'].isna()]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [71]:
F01new[F01new['Denda']==""]

Empty DataFrame
Columns: [orderId, Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

## Export full data dump to csv to be used in the next iteration

In [72]:
F01new.to_csv(path_or_buf=filtered_filename_F01, index=0)
D01new.to_csv(path_or_buf=filtered_filename_D01, index=0)

In [73]:
DataStorage.upload_notebooks_data(filtered_filename_F01, 'kbij/'+pathname, 'f01'+datem+'_new_filtered.csv')

File ./data202002/F01202002_new_filtered.csv version 2 uploaded to notebooks/kbij/data202002/f01202002_new_filtered.csv.

In [74]:
DataStorage.upload_notebooks_data(filtered_filename_D01, 'kbij/'+pathname, 'd01'+datem+'_new_filtered.csv')

File ./data202002/D01202002_new_filtered.csv version 2 uploaded to notebooks/kbij/data202002/d01202002_new_filtered.csv.

Export Latest Data

In [75]:
timestr = time.strftime("%Y%m%d-%H%M%S")
F01name = dirname+'/F01'+'-'+datem+'['+timestr+']'+'.txt'
D01name = dirname+'/D01'+'-'+datem+'['+timestr+']'+'.txt'
print(F01name,D01name)

./data202002/F01-202002[20201005-153524].txt ./data202002/D01-202002[20201005-153524].txt

In [76]:
F01new_sent=F01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Kode Jenis Fasilitas', 'Nomor Rekening Fasilitas',
       'Nomor Rekening Lama Fasilitas', 'Nomor CIF Debitur',
       'Kode Sifat Kredit atau Pembiayaan',
       'Kode Jenis Kredit atau Pembiayaan',
       'Kode Akad Kredit atau Akad Pembiayaan', 'Nomor Akad Awal',
       'Tanggal Akad Awal', 'Nomor Akad Akhir', 'Tanggal Akad Akhir',
       'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan',
       'Tanggal Awal Kredit atau Pembiayaan', 'Tanggal Mulai',
       'Tanggal Jatuh Tempo', 'Kode Kategori Debitur', 'Kode Jenis Penggunaan',
       'Kode Orientasi Penggunaan', 'Kode Sektor Ekonomi',
       'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan',
       'Nilai Proyek', 'Kode Valuta', 'Suku Bunga atau Imbalan',
       'Jenis Suku Bunga atau Imbalan',
       'Kredit atau Pembiayaan Program Pemerintah', 'Plafon Awal', 'Plafon',
       'Realisasi atau Pencairan Bulan Berjalan', 'Denda', 'Baki Debet',
       'Nilai dalam Mata Uang Asal', 'Kode Kualitas Kredit atau Pembiayaan',
       'Tanggal Macet', 'Kode Sebab Macet', 'Tunggakan Pokok',
       'Tunggakan Bunga atau Imbalan', 'Jumlah Hari Tunggakan',
       'Frekuensi Tunggakan', 'Frekuensi Restrukturisasi',
       'Tanggal Restrukturisasi Awal', 'Tanggal Restrukturisasi Akhir',
       'Kode Cara Restrukturisasi', 'Kode Kondisi', 'Tanggal Kondisi',
       'Keterangan', 'Kode Kantor Cabang', 'Operasi Data', 'Status delete',
       'Create Date', 'Update Date']]
D01new_sent=D01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Nomor CIF Lama Debitur', 'Nomor CIF Debitur', 'Jenis Identitas',
       'Nomor Identitas', 'Nama Sesuai Identitas', 'Nama Lengkap',
       'Kode Status Pendidikan atau Gelar Debitur', 'Jenis Kelamin',
       'Tempat Lahir', 'Tanggal Lahir', 'Nama Gadis Ibu Kandung', 'NPWP',
       'Alamat', 'Kelurahan', 'Kecamatan', 'Kode Kabupaten atau Kota',
       'Kode Pos', 'Nomor Telepon', 'Nomor Telepon Seluler', 'Alamat e-mail',
       'Kode Negara Domisili', 'Kode Pekerjaan', 'Tempat Bekerja',
       'Kode Bidang Usaha Tempat Bekerja', 'Alamat Tempat Bekerja',
       'Kode Golongan Debitur', 'Status Perkawinan Debitur',
       'Kode Kantor Cabang', 'Operasi Data', 'Status delete', 'Create Date',
       'Update Date']]

In [77]:
D01new[D01new['Nama Sesuai Identitas']=='IBNU SIGIT SAPUTRO']

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [78]:
print(F01new_sent.shape)
print(D01new_sent.shape)

(144583, 53)
(119336, 35)

## Export file for KBIJ Reporting

In [79]:
D01new_sent.to_csv(path_or_buf=D01name, sep='|',index =0)
F01new_sent.to_csv(path_or_buf=F01name, sep='|',index =0)

In [80]:
DataStorage.upload_notebooks_data(F01name, 'kbij/'+pathname, 'f01-'+datem+'.txt')

File ./data202002/F01-202002[20201005-153524].txt version 2 uploaded to notebooks/kbij/data202002/f01-202002.txt.

In [81]:
DataStorage.upload_notebooks_data(D01name, 'kbij/'+pathname, 'd01-'+datem+'.txt')

File ./data202002/D01-202002[20201005-153524].txt version 2 uploaded to notebooks/kbij/data202002/d01-202002.txt.

# Check Sent Data

In [82]:
F01_sent = pd.read_csv('./data202002/F01-202002[20201005-153524].txt',sep='|',dtype=F01_dtype)
D01_sent = pd.read_csv('./data202002/D01-202002[20201005-153524].txt',sep='|',dtype=D01_dtype)

In [83]:
F01_sent[F01_sent['Tanggal Mulai'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [84]:
F01_sent[F01_sent['Tanggal Jatuh Tempo'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [85]:
DataStorage.download_notebooks_data('./'+prev_pathname+'/f01-'+prev_datem+'.txt', 'kbij/'+prev_pathname, 'f01-'+prev_datem+'.txt')

Blob notebooks/kbij/data202001/f01-202001.txt version LATEST downloaded to ./data202001/f01-202001.txt.

In [86]:
DataStorage.download_notebooks_data('./'+prev_pathname+'/d01-'+prev_datem+'.txt', 'kbij/'+prev_pathname, 'd01-'+prev_datem+'.txt')

Blob notebooks/kbij/data202001/d01-202001.txt version LATEST downloaded to ./data202001/d01-202001.txt.

In [87]:
F01_prev_sent = pd.read_csv('./'+prev_pathname+'/f01-'+prev_datem+'.txt',sep='|',dtype=F01_dtype)
D01_prev_sent = pd.read_csv('./'+prev_pathname+'/d01-'+prev_datem+'.txt',sep='|',dtype=D01_dtype)

In [88]:
print('D01_sent:',D01_sent.shape, 'F01_sent:',F01_sent.shape)
print('D01_prev_sent:',D01_prev_sent.shape, 'F01_prev_sent:',F01_prev_sent.shape)

D01_sent: (119336, 35) F01_sent: (144583, 53)
D01_prev_sent: (112372, 35) F01_prev_sent: (135874, 53)

In [89]:
F01_sent, D01_sent = kbij.checking_data(F01_sent, D01_sent, '2020-05-01', F01_prev=F01_prev_sent, D01_prev=D01_prev_sent)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[CLEAR]No Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

[CLEAR]No Active Kode Kondisi but Baki Debet = 0

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202002']
D01: ['202002']

[DONE]
================================================================================

In [90]:
D01_sent['Alamat e-mail'][D01_sent['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [91]:
D01_sent['Alamat Tempat Bekerja'][D01_sent['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)