In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
import re
import os,sys

import kbij_helper as kbijh
kbij = kbijh.KBIJ()

import warnings
warnings.filterwarnings('ignore')
autostats_lib = "../../../autostats"
if autostats_lib not in sys.path:
    sys.path.append(autostats_lib)

from utilities.data_storage import DataStorage
import time

In [2]:
%load_ext google.cloud.bigquery
from google.cloud import bigquery
DataStorage(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

from IPython.display import clear_output

In [3]:
def get_key(my_dict, val):
    keys_list = []
    for key, value in my_dict.items(): 
         if val == value: 
             keys_list.append(key)
  
    return keys_list

In [4]:
date = "2020-07-01"
prev_date = "2020-06-01"

In [5]:
datem = pd.to_datetime(date)
datem = datem.strftime("%Y%m")
print(datem)

202007

In [6]:
pathname = 'data'+datem
dirname = './'+pathname

In [7]:
raw_filename_F01 = dirname+'/F01'+datem+'.csv'
raw_filename_D01 = dirname+'/D01'+datem+'.csv'

In [8]:
filtered_filename_F01 = dirname+'/F01'+datem+'_new_filtered.csv'
filtered_filename_D01 = dirname+'/D01'+datem+'_new_filtered.csv'

In [9]:
prev_datem = pd.to_datetime(prev_date)
prev_datem = prev_datem.strftime("%Y%m")
print(prev_datem)

202006

In [10]:
prev_pathname = 'data'+prev_datem
prev_dirname = './'+prev_pathname

In [11]:
prev_filtered_filename_F01 = prev_dirname+'/F01'+prev_datem+'_new_filtered.csv'
prev_filtered_filename_D01 = prev_dirname+'/D01'+prev_datem+'_new_filtered.csv'

In [12]:
F01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Kode Jenis Fasilitas': 'object',
 'Nomor Rekening Fasilitas': 'object',
 'Nomor Rekening Lama Fasilitas': 'object',
 'Nomor CIF Debitur': 'object',
 'Kode Sifat Kredit atau Pembiayaan': 'str',
 'Kode Jenis Kredit atau Pembiayaan': 'str',
 'Kode Akad Kredit atau Akad Pembiayaan': 'object',
 'Nomor Akad Awal': 'object',
 'Tanggal Akad Awal': 'object',
 'Nomor Akad Akhir': 'object',
 'Tanggal Akad Akhir': 'object',
 'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan': 'int64',
 'Tanggal Awal Kredit atau Pembiayaan': 'object',
 'Tanggal Mulai': 'object',
 'Tanggal Jatuh Tempo': 'object',
 'Kode Kategori Debitur': 'object',
 'Kode Jenis Penggunaan': 'str',
 'Kode Orientasi Penggunaan': 'str',
 'Kode Sektor Ekonomi': 'object',
 'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan': 'object',
 'Nilai Proyek': 'object',
 'Kode Valuta': 'object',
 'Suku Bunga atau Imbalan': 'float64',
 'Jenis Suku Bunga atau Imbalan': 'int64',
 'Kredit atau Pembiayaan Program Pemerintah': 'object',
 'Plafon Awal': 'float64',
 'Plafon': 'float64',
 'Realisasi atau Pencairan Bulan Berjalan': 'float64',
 'Denda': 'float64',
 'Baki Debet': 'float64',
 'Nilai dalam Mata Uang Asal': 'object',
 'Kode Kualitas Kredit atau Pembiayaan': 'str',
 'Tanggal Macet': 'object',
 'Kode Sebab Macet': 'str',
 'Tunggakan Pokok': 'int64',
 'Tunggakan Bunga atau Imbalan': 'int64',
 'Jumlah Hari Tunggakan': 'int64',
 'Frekuensi Tunggakan': 'int64',
 'Frekuensi Restrukturisasi': 'int64',
 'Tanggal Restrukturisasi Awal': 'object',
 'Tanggal Restrukturisasi Akhir': 'object',
 'Kode Cara Restrukturisasi': 'object',
 'Kode Kondisi': 'object',
 'Tanggal Kondisi': 'object',
 'Keterangan': 'object',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

D01_dtype = {'Kode Jenis Pelapor': 'object',
 'Kode Pelapor': 'object',
 'Tahun Bulan Data': 'object',
 'Nomor CIF Lama Debitur': 'object',
 'Nomor CIF Debitur': 'object',
 'Jenis Identitas': 'int64',
 'Nomor Identitas': 'object',
 'Nama Sesuai Identitas': 'object',
 'Nama Lengkap': 'object',
 'Kode Status Pendidikan atau Gelar Debitur': 'object',
 'Jenis Kelamin': 'object',
 'Tempat Lahir': 'object',
 'Tanggal Lahir': 'object',
 'Nama Gadis Ibu Kandung': 'object',
 'NPWP': 'object',
 'Alamat': 'object',
 'Kelurahan': 'object',
 'Kecamatan': 'object',
 'Kode Kabupaten atau Kota': 'object',
 'Kode Pos': 'object',
 'Nomor Telepon': 'object',
 'Nomor Telepon Seluler': 'object',
 'Alamat email': 'object',
 'Kode Negara Domisili': 'object',
 'Kode Pekerjaan': 'object',
 'Tempat Bekerja': 'object',
 'Kode Bidang Usaha Tempat Bekerja': 'object',
 'Alamat Tempat Bekerja': 'object',
 'Kode Golongan Debitur': 'object',
 'Status Perkawinan Debitur': 'int64',
 'Kode Kantor Cabang': 'object',
 'Operasi Data': 'object',
 'Status delete': 'object',
 'Create Date': 'str',
 'Update Date': 'str',
 'Approved Date': 'str',
 'userId': 'object',
 'orderId': 'object',
 'status': 'object'}

# Query

Get new F01 and D01 from redash

## F01 Current Data

In [13]:
F01new = kbij.get_F01_data('"'+date+'"')

[get_F01_data] Query from BigQuery takes 310.0338644981384

## D01 Current Data

In [14]:
D01new = kbij.get_D01_data('"'+date+'"')

[get_D01_data] Query from BigQuery takes 120.16708087921143

# Data Preparation

In [15]:
print(F01new.shape)
a=[]
for i in F01new.columns:
    a.append(i.replace('_',' '))
F01new.columns = a

(573316, 69)

In [16]:
print(D01new.shape)
a=[]
for i in D01new.columns:
    a.append(i.replace('_',' '))
D01new.columns = a

(192892, 40)

In [17]:
for col in get_key(F01_dtype, 'object'):
    F01new[col] = F01new[col].str.strip()

In [18]:
for col in get_key(D01_dtype, 'object'):
    D01new[col] = D01new[col].str.strip()

In [19]:
F01new = F01new.replace('\n','', regex=True)
D01new = D01new.replace('\n','', regex=True)

In [20]:
F01new = F01new.replace('\t','', regex=True)
D01new = D01new.replace('\t','', regex=True)

In [21]:
D01new.rename(columns={"Alamat email": "Alamat e-mail"}, inplace=True)

Check If KTP ID has char O/o

In [22]:
D01new['Nomor Identitas'][D01new['Nomor Identitas'].str.contains('O',case=False, regex=False)==True]

Series([], Name: Nomor Identitas, dtype: object)

Trim "Alamat e-mail" to 150 char, "Alamat Tempat Bekerja" to 300 char

In [23]:
D01new['Alamat e-mail']=D01new['Alamat e-mail'].str[-149:]
D01new['Alamat Tempat Bekerja']=D01new['Alamat Tempat Bekerja'].str[:299]

Check if there is still "Alamat e-mail" and "Alamat Tempat Bekerja" with more than 150 and 300 char each

In [24]:
D01new['Alamat e-mail'][D01new['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [25]:
D01new['Alamat Tempat Bekerja'][D01new['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)

In [26]:
gelar_list = pd.read_csv('./data/gelar.csv')['index'].tolist()
gelar_depan_list = pd.read_csv('./data/gelar_depan.csv')['index'].tolist()

In [27]:
def remove_gelar(nama):
    nama_list = nama.split()
    clear_output()
    print(nama_list)
    if nama_list[-1].lower() in gelar_list:
        del nama_list[-1]
    if nama_list[0].lower() in gelar_depan_list:
        del nama_list[0]    
        
    return ' '.join(nama_list)

In [28]:
D01new['Nama Sesuai Identitas'] = D01new['Nama Sesuai Identitas'].apply(remove_gelar)

In [29]:
D01new['Nama Gadis Ibu Kandung'] = D01new['Nama Gadis Ibu Kandung'].apply(remove_gelar)

['WURYANTI']

In [30]:
F01new.to_csv(path_or_buf=raw_filename_F01, index=False)
D01new.to_csv(path_or_buf=raw_filename_D01, index=False)

In [31]:
DataStorage.upload_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

File ./data202007/F01202007.csv version 3 uploaded to notebooks/kbij/data202007/f01202007.csv.

In [32]:
DataStorage.upload_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

File ./data202007/D01202007.csv version 3 uploaded to notebooks/kbij/data202007/d01202007.csv.

# Load Data

In [33]:
DataStorage.download_notebooks_data(raw_filename_F01, 'kbij/'+pathname, 'f01'+datem+'.csv')

Blob notebooks/kbij/data202007/f01202007.csv version LATEST downloaded to ./data202007/F01202007.csv.

In [34]:
DataStorage.download_notebooks_data(raw_filename_D01, 'kbij/'+pathname, 'd01'+datem+'.csv')

Blob notebooks/kbij/data202007/d01202007.csv version LATEST downloaded to ./data202007/D01202007.csv.

In [35]:
F01new = pd.read_csv(raw_filename_F01, dtype=F01_dtype)
D01new = pd.read_csv(raw_filename_D01, dtype=D01_dtype)

In [36]:
print(prev_filtered_filename_F01)
print('kbij/'+prev_pathname)
print('f01'+prev_datem+'_new_filtered.csv')

./data202006/F01202006_new_filtered.csv
kbij/data202006
f01202006_new_filtered.csv

In [37]:
DataStorage.download_notebooks_data(prev_filtered_filename_F01, 'kbij/'+prev_pathname, 'f01'+prev_datem+'_new_filtered.csv')

Blob notebooks/kbij/data202006/f01202006_new_filtered.csv version LATEST downloaded to ./data202006/F01202006_new_filtered.csv.

In [38]:
DataStorage.download_notebooks_data(prev_filtered_filename_D01, 'kbij/'+prev_pathname, 'd01'+prev_datem+'_new_filtered.csv')

Blob notebooks/kbij/data202006/d01202006_new_filtered.csv version LATEST downloaded to ./data202006/D01202006_new_filtered.csv.

In [39]:
F01_prev = pd.read_csv(prev_filtered_filename_F01, dtype=F01_dtype)
D01_prev = pd.read_csv(prev_filtered_filename_D01, dtype=D01_dtype)

In [40]:
print('D01new:',D01new.shape, 'F01new:',F01new.shape)
print('D01_prev:',D01_prev.shape, 'F01_prev:',F01_prev.shape)

D01new: (192892, 40) F01new: (573316, 69)
D01_prev: (187594, 40) F01_prev: (549378, 69)

# Checking

In [41]:
F01new, D01new = kbij.checking_data(F01new, D01new, date, F01_prev=F01_prev, D01_prev=D01_prev)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

Found 444175 Nomor Rekening Fasilitas
--> kbij.existing_previous_not_active_data
Drop previous not active Nomor Rekening Fasilitas from current F01
Drop not existing Nomor CIF Debitur in current F01 from current D01

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

Found 114 Nomor Rekening Fasilitas
--> kbij.active_but_has_no_balance
Set Kode Kondisi to not active

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202007']
D01: ['202007']

[DONE]
================================================================================

## Check column

In [42]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Frekuensi Tunggakan']>0)][['orderId','Jumlah Hari Tunggakan','Frekuensi Tunggakan','Approved Date','status']]

Empty DataFrame
Columns: [orderId, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Approved Date, status]
Index: []

In [43]:
F01new[(F01new['Tunggakan Pokok']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi, dayPastDue]
Index: []

In [44]:
F01new[(F01new['Denda']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
264,ATH-11KDLXQ4,0.0,2,00,65
397,ATH-11U6MLW9,0.0,5,00,187
626,ATH-129P6LAM,0.0,4,00,146
1020,ATH-131VGPK9,0.0,4,00,158
1388,ATH-13SVCYFQ,0.0,5,00,482
1488,ATH-13Z27H2L,0.0,4,00,140
1909,ATH-14T7HLXJ,0.0,5,00,381
2308,ATH-15KDJSLQ,0.0,5,00,234
2322,ATH-15LJUAP8,0.0,5,00,247
2369,ATH-15PRH8ZH,0.0,5,00,576
2399,ATH-15RBPCW3,0.0,3,00,103
2646,ATH-168CD7PA,0.0,5,00,243
3097,ATH-178QJ2VT,0.0,2,00,64
3452,ATH-17WPWLQS,0.0,4,00,128
3485,ATH-17YNRHDD,0.0,2,00,76
3628,ATH-1883MD8Q,0.0,4,00,155
3785,ATH-18J1TZ8J,0.0,5,00,374
3852,ATH-18N1YSZX,0.0,5,00,637
3982,ATH-18WV4LT1,0.0,5,00,419
4050,ATH-192YG3V5,0.0,5,00,339
4102,ATH-1962MKG4,0.0,5,00,511
4146,ATH-19977LZ4,0.0,5,00,370
4168,ATH-19AH5JJA,0.0,3,00,109
4256,ATH-19FUM9PN,0.0,2,00,64
4275,ATH-19H7SEJB,0.0,3,00,102
4312,ATH-19KJVYS1,0.0,5,00,469
4313,ATH-19KLBW5H,0.0,5,00,308
4416,ATH-19T5GQB3,0.0,5,00,199
4574,ATH-1A3WA6S1,0.0,5,00,391
4710,ATH-1AD7DK4J,0.0,5,00,715
...,...,...,...,...,...
572592,EXT-Z1WKRVXV,0.0,2,00,3
572606,EXT-Z33L1HEN,0.0,2,00,3
572619,EXT-Z5A5AWVS,0.0,2,00,3
572626,EXT-Z66U38ZQ,0.0,2,00,3
572640,EXT-Z7ZWEDVC,0.0,2,00,3
572644,EXT-Z8K488EQ,0.0,2,00,3
572666,EXT-ZARW5RTR,0.0,2,00,3
572683,EXT-ZCE3LSZ3,0.0,2,00,3
572711,EXT-ZFKDLD62,0.0,2,00,3
572743,EXT-ZKQAUPGH,0.0,2,00,3
572785,EXT-ZQZUUW8T,0.0,2,00,3
572813,EXT-ZU2M72TK,0.0,2,00,3
572820,EXT-ZUWVSN8V,0.0,2,00,3
572853,EXT-ZYEJURVM,0.0,2,00,3
572858,EXT-ZYKUTW1B,0.0,2,00,3
572876,INS-1J5J6ARG,0.0,5,00,376
572891,INS-2QF9X6QW,0.0,5,00,265
572959,INS-7VYWHF8Z,0.0,5,00,232
572966,INS-8Q6WACYF,0.0,5,00,239
572997,INS-BE3SE64Q,0.0,5,00,284
573048,INS-EJEW9S5N,0.0,5,00,233
573107,INS-J5QLTQ4R,0.0,5,00,325
573113,INS-JSXPEU4N,0.0,5,00,339
573116,INS-K86KHC81,0.0,5,00,294
573117,INS-KF2E4VH4,0.0,5,00,259
573145,INS-N9EFNP24,0.0,5,00,280
573159,INS-NY8695N5,0.0,5,00,270
573183,INS-QEAEJRB2,0.0,5,00,369
573210,INS-SKV34WK2,0.0,5,00,300
573270,INS-XBWHEWRT,0.0,5,00,282

In [45]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='00')][['orderId','Tunggakan Bunga atau Imbalan','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi','dayPastDue']]

,orderId,Tunggakan Bunga atau Imbalan,Denda,Kode Kualitas Kredit atau Pembiayaan,Kode Kondisi,dayPastDue
78198,ATH-5LEAQ3CS,0,661000.0,5,00,593
100783,ATH-6XQVT373,0,950000.0,5,00,270
103638,ATH-74BYYA6K,0,950000.0,5,00,216
112585,ATH-7MWFASZQ,0,420000.0,2,00,64
268865,ATH-GTBSMBMB,0,458000.0,5,00,403
291598,ATH-J56C6R33,0,123000.0,3,00,112
355903,ATH-MW7D4MYP,0,950000.0,5,00,771
467009,ATH-UCQBBQMV,0,661000.0,5,00,501
505945,ATH-WMZPNWPX,0,661000.0,5,00,505
563647,EXT-11D5L6KH,0,950000.0,2,00,34
563649,EXT-11HVBH41,0,457000.0,2,00,64
563652,EXT-11TSBKFL,0,35000.0,2,00,5
563656,EXT-125UP4LR,0,323000.0,2,00,51
563658,EXT-12EN2MA4,0,0.0,2,00,3
563660,EXT-12NG5A8Q,0,275000.0,2,00,20
563662,EXT-12ZBCRNX,0,375000.0,2,00,25
563663,EXT-12ZKPC88,0,344500.0,2,00,34
563664,EXT-131R1E9U,0,350000.0,2,00,39
563665,EXT-133X3MPK,0,25000.0,2,00,4
563667,EXT-13JVUUEF,0,950000.0,2,00,34
563669,EXT-141BE7QH,0,475000.0,2,00,40
563675,EXT-163GC6C5,0,0.0,2,00,3
563680,EXT-16QQCTT7,0,25000.0,2,00,4
563681,EXT-175XZSM5,0,475000.0,2,00,34
563684,EXT-17LXYK7R,0,0.0,2,00,3
563690,EXT-18TYTJY5,0,0.0,2,00,3
563692,EXT-194R9V3H,0,475000.0,2,00,38
563693,EXT-19856K7J,0,311500.0,2,00,34
563696,EXT-19MNZ4KR,0,166000.0,2,00,20
563700,EXT-19YSYWYY,0,51500.0,2,00,34
...,...,...,...,...,...,...
572773,EXT-ZPJ4MHXV,0,35000.0,2,00,5
572782,EXT-ZQGY484A,0,255500.0,2,00,38
572783,EXT-ZQPAZ6VB,0,80000.0,2,00,19
572785,EXT-ZQZUUW8T,0,0.0,2,00,3
572791,EXT-ZRD2VTP6,0,195000.0,2,00,16
572792,EXT-ZRLE1UBX,0,475000.0,2,00,34
572793,EXT-ZRLXAP1Y,0,195000.0,2,00,16
572798,EXT-ZS9Q9BY5,0,475000.0,2,00,34
572800,EXT-ZSA71F4Z,0,233500.0,2,00,39
572813,EXT-ZU2M72TK,0,0.0,2,00,3
572814,EXT-ZU8TLZ9N,0,115000.0,2,00,11
572815,EXT-ZU91LE5B,0,475000.0,2,00,39
572820,EXT-ZUWVSN8V,0,0.0,2,00,3
572822,EXT-ZVCBJUUZ,0,475000.0,2,00,64
572823,EXT-ZVCP5NYK,0,413000.0,2,00,27
572826,EXT-ZVQFZJM2,0,415000.0,2,00,27
572827,EXT-ZVRTZFQE,0,145000.0,2,00,13
572834,EXT-ZWGTJWMH,0,475000.0,2,00,35
572839,EXT-ZX5CVENG,0,215000.0,2,00,17
572841,EXT-ZX8DWRA1,0,35000.0,2,00,5
572842,EXT-ZXGENWXF,0,215000.0,2,00,17
572845,EXT-ZXRN4WQ7,0,221500.0,2,00,34
572852,EXT-ZYDWP23C,0,235000.0,2,00,18
572853,EXT-ZYEJURVM,0,0.0,2,00,3
572855,EXT-ZYJA4E74,0,950000.0,2,00,59
572857,EXT-ZYK5RCHB,0,186000.0,2,00,27
572858,EXT-ZYKUTW1B,0,0.0,2,00,3
572860,EXT-ZYPZNYTJ,0,260000.0,2,00,12
572866,EXT-ZZAMVDCX,0,400000.0,2,00,38
572874,EXT-ZZYBKT3R,0,255000.0,2,00,19

In [46]:
F01new[(F01new['Jumlah Hari Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [47]:
F01new[(F01new['Frekuensi Tunggakan']==0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='2') & (F01new['Kode Kondisi']=='00')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [48]:
F01new[(F01new['Denda']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [49]:
F01new[(F01new['Tunggakan Bunga atau Imbalan']>0) & (F01new['Kode Kualitas Kredit atau Pembiayaan']!='1') & (F01new['Kode Kondisi']=='02')][['orderId','Denda','Kode Kualitas Kredit atau Pembiayaan','Kode Kondisi']]

Empty DataFrame
Columns: [orderId, Denda, Kode Kualitas Kredit atau Pembiayaan, Kode Kondisi]
Index: []

In [50]:
F01new[(F01new['Kode Sebab Macet']=='99') & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Kode Sebab Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Kode Sebab Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

In [51]:
F01new[(~F01new['Tanggal Macet'].isnull()) & (F01new['Kode Kualitas Kredit atau Pembiayaan']=='1')][['orderId','Tanggal Macet','Kode Kualitas Kredit atau Pembiayaan']]

Empty DataFrame
Columns: [orderId, Tanggal Macet, Kode Kualitas Kredit atau Pembiayaan]
Index: []

# Final File to Send to KBIJ D01 and F01

Null check for CIF and NIK

In [52]:
D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [53]:
D01new.drop(D01new.loc[(D01new['Nomor CIF Debitur'].isna())|(D01new['Nama Lengkap'].isna())|(D01new['Tanggal Lahir'].isna())|(D01new['Nomor Identitas'].isna())].index, inplace=True)

In [54]:
F01new.loc[F01new['Nomor CIF Debitur'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, dayPastDue, approvedLoanAmount, approvedLoanTenureInMonth, maxdayPastDue, lateFee, balanceWithInterest, balance, dataDate, jumlah cicilan, current payment periode month, count payment, paidoffDate, status, Tunggakan Pokok]
Index: []

[0 rows x 69 columns]

In [55]:
F01new.drop(F01new.loc[F01new['Nomor CIF Debitur'].isna()].index, inplace=True)

## Export full data dump to csv to be used in the next iteration

In [56]:
F01new.to_csv(path_or_buf=filtered_filename_F01, index=0)
D01new.to_csv(path_or_buf=filtered_filename_D01, index=0)

In [57]:
DataStorage.upload_notebooks_data(filtered_filename_F01, 'kbij/'+pathname, 'f01'+datem+'_new_filtered.csv')

File ./data202007/F01202007_new_filtered.csv version 4 uploaded to notebooks/kbij/data202007/f01202007_new_filtered.csv.

In [58]:
DataStorage.upload_notebooks_data(filtered_filename_D01, 'kbij/'+pathname, 'd01'+datem+'_new_filtered.csv')

File ./data202007/D01202007_new_filtered.csv version 4 uploaded to notebooks/kbij/data202007/d01202007_new_filtered.csv.

Export Latest Data

In [59]:
timestr = time.strftime("%Y%m%d-%H%M%S")
F01name = dirname+'/F01'+'-'+datem+'['+timestr+']'+'.txt'
D01name = dirname+'/D01'+'-'+datem+'['+timestr+']'+'.txt'
print(F01name,D01name)

./data202007/F01-202007[20200921-133034].txt ./data202007/D01-202007[20200921-133034].txt

In [60]:
F01new_sent=F01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Kode Jenis Fasilitas', 'Nomor Rekening Fasilitas',
       'Nomor Rekening Lama Fasilitas', 'Nomor CIF Debitur',
       'Kode Sifat Kredit atau Pembiayaan',
       'Kode Jenis Kredit atau Pembiayaan',
       'Kode Akad Kredit atau Akad Pembiayaan', 'Nomor Akad Awal',
       'Tanggal Akad Awal', 'Nomor Akad Akhir', 'Tanggal Akad Akhir',
       'Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan',
       'Tanggal Awal Kredit atau Pembiayaan', 'Tanggal Mulai',
       'Tanggal Jatuh Tempo', 'Kode Kategori Debitur', 'Kode Jenis Penggunaan',
       'Kode Orientasi Penggunaan', 'Kode Sektor Ekonomi',
       'Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan',
       'Nilai Proyek', 'Kode Valuta', 'Suku Bunga atau Imbalan',
       'Jenis Suku Bunga atau Imbalan',
       'Kredit atau Pembiayaan Program Pemerintah', 'Plafon Awal', 'Plafon',
       'Realisasi atau Pencairan Bulan Berjalan', 'Denda', 'Baki Debet',
       'Nilai dalam Mata Uang Asal', 'Kode Kualitas Kredit atau Pembiayaan',
       'Tanggal Macet', 'Kode Sebab Macet', 'Tunggakan Pokok',
       'Tunggakan Bunga atau Imbalan', 'Jumlah Hari Tunggakan',
       'Frekuensi Tunggakan', 'Frekuensi Restrukturisasi',
       'Tanggal Restrukturisasi Awal', 'Tanggal Restrukturisasi Akhir',
       'Kode Cara Restrukturisasi', 'Kode Kondisi', 'Tanggal Kondisi',
       'Keterangan', 'Kode Kantor Cabang', 'Operasi Data', 'Status delete',
       'Create Date', 'Update Date']]
D01new_sent=D01new[['Kode Jenis Pelapor', 'Kode Pelapor', 'Tahun Bulan Data',
       'Nomor CIF Lama Debitur', 'Nomor CIF Debitur', 'Jenis Identitas',
       'Nomor Identitas', 'Nama Sesuai Identitas', 'Nama Lengkap',
       'Kode Status Pendidikan atau Gelar Debitur', 'Jenis Kelamin',
       'Tempat Lahir', 'Tanggal Lahir', 'Nama Gadis Ibu Kandung', 'NPWP',
       'Alamat', 'Kelurahan', 'Kecamatan', 'Kode Kabupaten atau Kota',
       'Kode Pos', 'Nomor Telepon', 'Nomor Telepon Seluler', 'Alamat e-mail',
       'Kode Negara Domisili', 'Kode Pekerjaan', 'Tempat Bekerja',
       'Kode Bidang Usaha Tempat Bekerja', 'Alamat Tempat Bekerja',
       'Kode Golongan Debitur', 'Status Perkawinan Debitur',
       'Kode Kantor Cabang', 'Operasi Data', 'Status delete', 'Create Date',
       'Update Date']]

In [61]:
D01new[D01new['Nama Sesuai Identitas']=='IBNU SIGIT SAPUTRO']

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Nomor CIF Lama Debitur, Nomor CIF Debitur, Jenis Identitas, Nomor Identitas, Nama Sesuai Identitas, Nama Lengkap, Kode Status Pendidikan atau Gelar Debitur, Jenis Kelamin, Tempat Lahir, Tanggal Lahir, Nama Gadis Ibu Kandung, NPWP, Alamat, Kelurahan, Kecamatan, Kode Kabupaten atau Kota, Kode Pos, Nomor Telepon, Nomor Telepon Seluler, Alamat e-mail, Kode Negara Domisili, Kode Pekerjaan, Tempat Bekerja, Kode Bidang Usaha Tempat Bekerja, Alamat Tempat Bekerja, Kode Golongan Debitur, Status Perkawinan Debitur, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date, Approved Date, userId, orderId, paidoffDate, status]
Index: []

[0 rows x 40 columns]

In [62]:
print(F01new_sent.shape)
print(D01new_sent.shape)

(129141, 53)
(120579, 35)

## Export file for KBIJ Reporting

In [63]:
D01new_sent.to_csv(path_or_buf=D01name, sep='|',index =0)
F01new_sent.to_csv(path_or_buf=F01name, sep='|',index =0)

In [64]:
DataStorage.upload_notebooks_data(F01name, 'kbij/'+pathname, 'f01-'+datem+'.txt')

File ./data202007/F01-202007[20200921-133034].txt version 3 uploaded to notebooks/kbij/data202007/f01-202007.txt.

In [65]:
DataStorage.upload_notebooks_data(D01name, 'kbij/'+pathname, 'd01-'+datem+'.txt')

File ./data202007/D01-202007[20200921-133034].txt version 3 uploaded to notebooks/kbij/data202007/d01-202007.txt.

# Check Sent Data

In [66]:
F01_sent = pd.read_csv('./data202007/F01-202007[20200921-133034].txt',sep='|',dtype=F01_dtype)
D01_sent = pd.read_csv('./data202007/D01-202007[20200921-133034].txt',sep='|',dtype=D01_dtype)

In [67]:
F01_sent[F01_sent['Tanggal Mulai'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [68]:
F01_sent[F01_sent['Tanggal Jatuh Tempo'].isna()]

Empty DataFrame
Columns: [Kode Jenis Pelapor, Kode Pelapor, Tahun Bulan Data, Kode Jenis Fasilitas, Nomor Rekening Fasilitas, Nomor Rekening Lama Fasilitas, Nomor CIF Debitur, Kode Sifat Kredit atau Pembiayaan, Kode Jenis Kredit atau Pembiayaan, Kode Akad Kredit atau Akad Pembiayaan, Nomor Akad Awal, Tanggal Akad Awal, Nomor Akad Akhir, Tanggal Akad Akhir, Frekuensi Perpanjangan Fasilitas Kredit atau Pembiayaan, Tanggal Awal Kredit atau Pembiayaan, Tanggal Mulai, Tanggal Jatuh Tempo, Kode Kategori Debitur, Kode Jenis Penggunaan, Kode Orientasi Penggunaan, Kode Sektor Ekonomi, Kode Kabupaten atau Kota Lokasi Proyek atau Penggunaan Kredit atau Pembiayaan, Nilai Proyek, Kode Valuta, Suku Bunga atau Imbalan, Jenis Suku Bunga atau Imbalan, Kredit atau Pembiayaan Program Pemerintah, Plafon Awal, Plafon, Realisasi atau Pencairan Bulan Berjalan, Denda, Baki Debet, Nilai dalam Mata Uang Asal, Kode Kualitas Kredit atau Pembiayaan, Tanggal Macet, Kode Sebab Macet, Tunggakan Pokok, Tunggakan Bunga atau Imbalan, Jumlah Hari Tunggakan, Frekuensi Tunggakan, Frekuensi Restrukturisasi, Tanggal Restrukturisasi Awal, Tanggal Restrukturisasi Akhir, Kode Cara Restrukturisasi, Kode Kondisi, Tanggal Kondisi, Keterangan, Kode Kantor Cabang, Operasi Data, Status delete, Create Date, Update Date]
Index: []

[0 rows x 53 columns]

In [69]:
DataStorage.download_notebooks_data('./'+prev_pathname+'/f01-'+prev_datem+'.txt', 'kbij/'+prev_pathname, 'f01-'+prev_datem+'.txt')

Blob notebooks/kbij/data202006/f01-202006.txt version LATEST downloaded to ./data202006/f01-202006.txt.

In [70]:
DataStorage.download_notebooks_data('./'+prev_pathname+'/d01-'+prev_datem+'.txt', 'kbij/'+prev_pathname, 'd01-'+prev_datem+'.txt')

Blob notebooks/kbij/data202006/d01-202006.txt version LATEST downloaded to ./data202006/d01-202006.txt.

In [71]:
F01_prev_sent = pd.read_csv('./'+prev_pathname+'/f01-'+prev_datem+'.txt',sep='|',dtype=F01_dtype)
D01_prev_sent = pd.read_csv('./'+prev_pathname+'/d01-'+prev_datem+'.txt',sep='|',dtype=D01_dtype)

In [72]:
print('D01_sent:',D01_sent.shape, 'F01_sent:',F01_sent.shape)
print('D01_prev_sent:',D01_prev_sent.shape, 'F01_prev_sent:',F01_prev_sent.shape)

D01_sent: (120579, 35) F01_sent: (129141, 53)
D01_prev_sent: (187594, 35) F01_prev_sent: (549378, 53)

In [73]:
F01_sent, D01_sent = kbij.checking_data(F01_sent, D01_sent, '2020-05-01', F01_prev=F01_prev_sent, D01_prev=D01_prev_sent)

================================================================================
Check Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[CLEAR]No Previous Not Active Nomor Rekening Fasilitas But Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[CLEAR]No Previous Active Nomor Rekening Fasilitas But Not Exist in Current Data

[DONE]
================================================================================
================================================================================
Check Nomor CIF Debitur in D01 and F01

[CLEAR]All Nomor CIF Debitur in D01 are exist in F01

[DONE]
================================================================================
================================================================================
Check Active Kode Kondisi but Baki Debet = 0

[CLEAR]No Active Kode Kondisi but Baki Debet = 0

[DONE]
================================================================================
================================================================================
Check Not Active Kode Kondisi but Baki Debet > 0

[CLEAR]No Not Active Kode Kondisi but Baki Debet > 0

[DONE]
================================================================================
================================================================================
Check Baki Debet > Plafon Awal

[CLEAR]No Baki Debet greater than Plafon Awal

[DONE]
================================================================================
================================================================================
Check Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[CLEAR]No Kode Kualitas Kredit atau Pembiayaan Macet but has no Tanggal Macet

[DONE]
================================================================================
================================================================================
Check Tahun Bulan Data

F01: ['202007']
D01: ['202007']

[DONE]
================================================================================

In [74]:
D01_sent['Alamat e-mail'][D01_sent['Alamat e-mail'].str.len()>=150]

Series([], Name: Alamat e-mail, dtype: object)

In [75]:
D01_sent['Alamat Tempat Bekerja'][D01_sent['Alamat Tempat Bekerja'].str.len()>=300]

Series([], Name: Alamat Tempat Bekerja, dtype: object)